[2016-10-15 21:14] mrmlnc opened #2 "Disable ignoreComment option"
Hello,

I'm working on improving [vscode-less](https://github.com/mrmlnc/vscode-less) extension and want to disable autocompletion in the comments.

How to I can disable `ignoreComment` option for `parseStylesheet`?

[2016-10-19 08:44] aeschli commented on #2
To find out where is a comment you would use the scanner.
The stylesheet is an AST representation that does not contain any comments.

[2016-10-19 08:44] #2 closed

[2016-10-20 23:23] mrmlnc opened #5 "Integrate with Travis CI or AppVeyor"
I would be glad to see green or red light for PR's or commits.

[2016-10-24 18:06] Ciantic opened #6 "Auto complete suggestions project wide"
This is a feature request, I'd like to auto-complete to work project wide.

I think it should not try to be overtly clever, e.g. following import statements such as `@import "../library.scss";` instead it could just parse all *.scss *.less or *.css files for definitions and show those in auto-completion.

Currently this is extremly painful since I have React app where each component has own scss f

[2016-10-25 17:33] mrmlnc commented on #6
Hello, @Ciantic,

You have tried [vscode-scss](https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-scss) extension?

[2016-10-26 09:00] Ciantic commented on #6
@mrmlnc I did try to search for similar plugins just while ago, I wonder why I didn't find it? This is amazing, thanks!

[2016-10-26 09:03] mrmlnc commented on #6
@Ciantic, because I released it yesterday 😄

[2016-10-26 21:25] Tyriar commented on #6
:tada:

[2016-10-26 21:25] #6 closed

[2016-11-04 15:16] rictic opened #7 "[feature request] Support CSS Custom Properties"
[CSS Custom Properties](https://drafts.csswg.org/css-variables/) are a relatively new standard. Work is [in progress to support them in Edge](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6261292-css-variables), and they're shipping today in [Chrome, Safari, and Firefox](http://caniuse.com/#feat=css-variables).

Custom property usage is fairly straightforward, just

[2016-11-04 15:19] rictic opened #8 "[feature request] Support @apply"
The `@apply` rule is a [proposed spec](https://tabatkins.github.io/specs/css-apply-rule/#at-ruledef-apply) for implementing native mixins in CSS on top of [CSS Custom Properties](https://github.com/Microsoft/vscode-css-languageservice/issues/7).

It allows declarations like the following:

[code]

This sees real world usage today, primarily from users of the Polymer library, which ships a polyfill

[2016-11-08 09:11] aeschli commented on #8
Thanks for the heads-up. Given the amount of work to add new constructs to the parser, I'm always bit cautious adding proposed but not yet final language features.
Until then we have the option to disable css validation (`"css.validate": "false"`).

[2016-11-08 16:10] rictic commented on #8
That's totally reasonable. Would you accept a patch that added this functionality?

The syntax is rather restrained (my read of the proposed spec is that it only accepts the literal text `@apply` then whitespace, then a css custom property name, optional whitespace, semicolon), so it won't give false positives for users that aren't intending to use the feature.

[2016-11-08 18:47] aeschli commented on #8
Yes, a PR would be awesome.
You'd add a additional declaration at https://github.com/Microsoft/vscode-css-languageservice/blob/master/src/parser/cssParser.ts#L263m
similar to
https://github.com/Microsoft/vscode-css-languageservice/blob/master/src/parser/lessParser.ts#L180

Let me know if I can help. Please keep the changes minimal so I can easly review.

[2016-11-14 06:22] eriklieben opened #9 "Question: extend/ integrate custom rules or remove diagnostics"
Not sure if this is a question for vs code itself or this language server, but I am wondering if it is possible to write code to disable diagnostic rules provided by the CSS language service or if I can hook into the CSS language service some way to tell it to allow customized CSS.

I want to be able to allow users to use ```${foo}``` inside files with a ```.CSS``` extension but to archive that I

[2016-11-27 13:40] mrmlnc opened #15 "Completion for Variables after @return inside @function"
Failed test:

[code]

`getNodeAtOffset` returns `null` for this case

[code]

[2016-11-27 14:20] mrmlnc opened #16 "Completion for Mixins after @include"
Failed test:

[code]

I'll create PR for this case 😈

[2016-11-28 18:13] philippelesaux commented on #8
Polymer user here, would love to see this merged, but with support for all @ rules

[2016-11-28 18:15] rictic commented on #8
The css language server already has support for a number of `@` rules. Are there any others that you've noticed aren't recognized?

[2016-11-28 18:16] philippelesaux commented on #8
Ah, didn't realize that. I was just getting the error on @apply, disregard that comment

[2016-11-28 20:31] mrmlnc commented on #16
Closed by #17

[2016-11-28 20:31] #16 closed

[2016-12-03 07:35] #8 closed

[2016-12-03 16:26] aeschli commented on #7
PR delivered. Thanks @rictic for the great help and sorry for the wait!

[2016-12-03 16:26] #7 closed

[2016-12-03 16:26] aeschli commented on #5
I hooked it up...

[2016-12-03 16:26] #5 closed

[2016-12-03 16:32] aeschli commented on #9
You could define your won language id ('aureli') and write your own language server for it that uses the css language service library.
Your server would first replace (or white-out) the special syntax (${foo), then pass the modified content to the css service. Depending how it is done you'd have to map some positions on the results.

[2016-12-03 16:33] #9 closed

[2016-12-03 18:33] rictic commented on #7
Awesome! Happy to contribute!

[2016-12-16 18:09] philippelesaux opened #19 "Themes not respecting new @apply support"
It looks like themes are not respecting the new @apply rules, at least in regards to color-coding.

Using 1.8.0 stable

![screen shot 2016-12-16 at 9 58 51 am](https://cloud.githubusercontent.com/assets/13442851/21273215/81c83eae-c390-11e6-8587-db99f0308e1f.png)

edit: This is the default dark theme, but I see the issue in Dracula, Light+, Monokai, and others

[2016-12-27 11:36] aeschli commented on #19
Syntax coloring is not provided by vscode-css-languageservice but by a text mate grammar.

[2016-12-27 11:37] aeschli commented on #19
This issue was moved to Microsoft/vscode#17850

[2016-12-27 11:37] #19 closed

[2017-02-08 13:37] CaselIT opened #21 "Css el > el and el + el hover are the same"
vscode: v1.9.0

It seems that the hover text for both `el > el` and `el + el` are the same:
![image](https://cloud.githubusercontent.com/assets/16175304/22739428/e7497f68-ee0b-11e6-9009-6104c3bfcd35.png)
![image](https://cloud.githubusercontent.com/assets/16175304/22739441/f3fe5d50-ee0b-11e6-9581-44e2d892c4db.png)

In particular I think that the hoover for `el > el` is the wrong one, since the `<p

[2017-02-13 14:37] terrierscript opened #22 "CSS property "appearance" is not supported"
`-webkit-appearance` and `-moz-appearance` is supported
`appearance` property is not supported?

![preview](https://cloud.githubusercontent.com/assets/13282103/22887294/d5b07a08-f244-11e6-8dba-4f467c947f4c.png)

* https://drafts.csswg.org/css-ui-4/#propdef-appearance
* http://css-infos.net/property/appearance

[2017-03-25 04:43] Kiricon opened #25 "Build no longer working due to dependency update."
The build seems to be failing due to the dependency vscode-languageserver-types containing the typing for WorkspaceEdit having been changed recently, making the version index no longer compatible.

[2017-03-31 12:59] #25 closed

[2017-04-01 06:52] rocifier commented on #21
Hi, this is a confirmed bug which I am currently fixing. Please see here https://github.com/Microsoft/vscode/issues/22835#issuecomment-290590310

[2017-04-01 06:54] CaselIT commented on #21
Thanks,
I'll close this issue then

[2017-04-01 06:54] #21 closed

[2017-05-21 09:45] equinusocio opened #31 "Add support to the css contain property"
`contain` property is marked as unknown property.

**Specs:**
- https://drafts.csswg.org/css-containment/

**Other links:**
- https://developer.mozilla.org/en-US/docs/Web/CSS/contain
- https://developers.google.com/web/fundamentals/getting-started/primers/shadowdom#containment

[2017-05-29 14:57] aeschli commented on #31
duplicate of https://github.com/Microsoft/vscode/issues/10840

[2017-05-29 14:57] #31 closed

[2017-05-29 15:01] aeschli commented on #22
`appearance` is not supported by most browsers yet: https://developer.mozilla.org/en-US/docs/Web/CSS/appearance

[2017-06-07 14:59] SinZ163 opened #32 "Provide support for non standard CSS properties and restrictions in VSCode"
Hi, I've been using VSCode a bunch for Dota 2 Custom Games, and it does the job great, except when it comes to how Valve have altered CSS to suit their needs.

A list of their properties can be found [here](https://developer.valvesoftware.com/wiki/Dota_2_Workshop_Tools/Panorama/CSS_Properties), and having the ability to enhance / replace the current CSS Schema with a new properties and restriction

[2017-06-13 11:17] raldred opened #33 "Support for Sass syntax?"
Are there any plans to include support for sass:sass syntax in addition to scss already supported?
We use sass because it's generally accepted in our team that sass is easier to write.
I appreciate there might be a fair amount involved.

[2017-06-20 22:27] KevinMcMurry opened #34 "replace "Berber" in css-schema.xml and browsers.js"
Please replace the string "Berber" with "Tamazight" in these files:
   vscode-css-languageservice-master\build\css-schema.xml
   vscode-css-languageservice-master\src\data\browsers.js

Note, there are more specific language names, such as "Central Atlas Tamazight" and "Standard Moroccan Tamazight", but from context it appears the above is correct.

[2017-07-05 09:04] Harry-Harrison commented on #22
Hate to be _that_ guy, but it not being supported by "most browsers" isn't really an excuse. Especially in this modern world where everyone and their dog uses an autoprefixer or some sort.

[2017-07-07 04:52] praveenpuglia commented on #32
I think this can be a plugin of some sort.

[2017-07-07 04:55] praveenpuglia commented on #22
@aeschli I don't know how but if the prefixed version of a property is supported, I think it makes sense to have the standard property in there. Not having the standard one is in a way giving devs a push to write prefixed code, which is definitely a bad thing to do when we have tools like autoprefixer.

[2017-07-07 07:03] praveenpuglia commented on #22
One thing I realized is that the way browser.js is generated, any property that has `browsers="none" ` in the schema xml, will be filtered out.

Here's the dilemma.

We have to write `none` for the standard `appearance` property as no browser supports it.
But we need to get the appearance property to show up fine in text editor.

Can we have an attribute like `non-standard` or something more meani

[2017-07-10 22:27] chriseppstein opened #36 "attribute selectors with a namespaces do not parse"
Attributes can have a namespace qualifier in order to select html attributes in a specific xml namespace.

https://www.w3.org/TR/selectors/#attrnmsp

currently VS code shows an error that `] expected` when it encounters the namespace delimiter: `|`

[2017-07-11 11:20] aeschli commented on #32
Yes, the idea of Microsoft/vscode-css-languageservice is that it is to be resused for css like languages. The 8 digit hex colors might come soon for css as well, so I'm happy to take a PR that adds that.
I'm also open to make the properties configurable

[2017-07-17 05:05] praveenpuglia commented on #32
I started working on a branch but I am not sure how do I test my changes in the editor.

What I can't figure out is...
- How to get tell the editor that it's a valid color and don't show red underline.
- How to get the editor to show a box that shows the color beside the color definition.

https://github.com/praveenpuglia/vscode-css-languageservice/commit/0addc3d91f46eabaca19de22e3f63e08ec2ab622

[2017-07-17 05:40] aeschli commented on #32
The fix in parser. _parseHexColor should fix the validation as well as making the color to reach the client. But on the css client side you'll have to turn the color into a valid css color that Chromium understands: https://github.com/Microsoft/vscode/blob/master/extensions/css/client/src/colorDecorators.ts#L114

To run VSCode with your version of  checked out in the same folder
- have the vscode

[2017-07-17 06:19] praveenpuglia commented on #32
Alright! So I think I got a color box to appear beside a color but I am still failing validation.

I still get the validation error "Hex colors must have three or six hex numbers". Guess I have to change the validation here?

https://github.com/Microsoft/vscode-css-languageservice/blob/master/src/services/lint.ts#L530-L532

Changed the condition to
[code]
but still getting the validation error.

[2017-07-17 06:29] aeschli commented on #32
Best to add a test case and debug it...

[2017-07-17 08:33] #32 closed

[2017-08-04 16:41] codingcircus opened #39 "Please add support for @supports rule"
Hi, it would be really cool, if you could add support for the @supports rule (Feature Queries). It's supported by all major browsers, so it can be used in production.

[2017-08-07 11:35] praveenpuglia commented on #39
@aeschli - I see it available in browsers.js. I still see [css] at rule unknown.

[2017-08-11 09:24] praveenpuglia opened #40 "Maintaining browser support data"
Code 1.15 just released. At the time of adding support for `display: flow-root` to languageservice, I didn't have information about Opera 45 supporting it.

Today I went back to MDN to see it is now supported in Opera 45. This means the property now has to be manually told to support this info in `css-schema.xml` file.

And not just this but anything that needs change. Currently there are some pro

[2017-08-12 19:26] aeschli commented on #40
https://github.com/mdn/browser-compat-data contains the latest compatibility data from MDN. I didn't have the chance to invest in using that data. If you want to look into it that would be awesome!

[2017-08-13 05:29] praveenpuglia commented on #40
Their data seems to be pretty limited at the moment. https://github.com/mdn/browser-compat-data/tree/master/css/properties

[2017-08-13 07:13] praveenpuglia opened #42 "Add a guide to setup development workflow."
Hi,

It isn't mentioned anywhere as to how someone can develop a version locally and test it against a local vscode version.

Here are the things needed.
1. How to use the local instance of the extension.
2. How to make sure when you update your extension vscode's watch picks up that change and rebuilds.
3. How to use debuggers.

I only know about 1. which is,
- Make sure your extension directory

[2017-08-14 17:21] aeschli commented on #42
Nothing special about 2. When developing inside vscode (e.g. in the extensions/css) we use `npm run watch` to keep JavaScript files up to date. Sometime a restart of that is required when d.ts files in node_modules change.
For 3:
- open VSCode on the `extensions/css` folder.
- In the debug viewlet use 'Launch extension'. This starts an extension host instance in debug mode. Breakpoints in the clie

[2017-08-15 10:37] praveenpuglia commented on #42
Does `2` also work with a local installation of the service as well? (`npm run install-service-local`). I see that the files do get changed on the vscode side when i keep a watch( `npm run watch`) on my languageservice repo but that doesn't trigger any build on vscode side unless i modify some other file from `vscode/src` directory.

[2017-08-15 11:36] praveenpuglia commented on #42
I made a screencast following your instructions but still can't get the debugger in server to work.
https://goo.gl/photos/YhVixNEL3bTx74ns9

[2017-08-15 15:52] aeschli commented on #42
`npm run watch` does not track files in node_modules. So after running`npm run install-service-local` you have to restart `npm run watch`.

What you do in the video looks correct. I think the problem is that the breakpoint to 'cssParser' needs to be set in `/server/node_modules/vscode-css-languageservice/lib/parser/cssParser.js`.
To debug the css parsing I always use mocha tests. That gives you a

[2017-08-16 08:53] praveenpuglia commented on #39
@aeschli - Guess a `_parseSupports` or similar is missing from [this](https://github.com/Microsoft/vscode-css-languageservice/blob/2729975f37d2f8abed2c3af20a7675070964fbb3/src/parser/cssParser.ts#L234-L244) and that's why even though browsers.js has entry for `@supports`, it still throws `at-rule unknown` error.

[2017-08-16 09:25] praveenpuglia commented on #39
I tried writing the foundation to parse `@supports`.
https://github.com/praveenpuglia/vscode-css-languageservice/commit/cd58aa91fe5659d5c66fa0d910dc25bed8912b02

Now I get a different error. I am sure the `_parseSupports` function needs to do more than whatever I have written in that function. My lack of understanding of the parser here. Needs help.

![image](https://user-images.githubusercontent.

[2017-08-16 09:33] aeschli commented on #39
So far you got it right. `_parseSupports` will have to consume the rest of supports rule, such as the expressions. This needs to happen according to the grammar as defined here: https://drafts.csswg.org/css-conditional-3/#at-supports

I can look into that later this month, if you want me to.

[2017-08-16 10:13] praveenpuglia commented on #39
@aeschli that'll be great. I am a total noob at this. For now, should i raise a PR with whatever I have or leave it like that till you get back ?

[2017-08-19 01:59] alexlur opened #43 "Support for -webkit-font-smoothing"
`font-smoothing` is not part of the standard, but its prefixed version well supported by webkit / Blink based browsers for a while.
<img width="483" alt="capture d ecran 2017-08-18 a 21 57 04" src="https://user-images.githubusercontent.com/8125011/29482521-70feefe6-8460-11e7-99e6-3902fafa4c11.png">

Any plan to add it?

[2017-09-01 11:37] angelozerr opened #44 "CSS Format support"
CSS Language Server is consumed inside Eclipse with https://github.com/mickaelistria/eclipse-bluesky It works well but CSS format is not available.

VSCode provides an extension at https://github.com/aeschli/vscode-css-formatter which uses jsbeautify. I understand that you don't want have dependencies to jsbeautify, but it should be fanatstic if you could provide a settings to choose the CSS forma

[2017-09-04 12:46] Yuudaari opened #45 "Support interpolation after property prefixes"
[code]
These are valid SCSS but they error in vscode. Let me know if you want use cases.

[2017-09-06 15:26] #39 closed

[2017-09-07 13:51] #45 closed

[2017-09-07 14:06] aeschli commented on #44
For us, adding a css formatter to the css-language-server is not really attractive. We rather have some other VSCode extension or language server provide and maintain such a formatter.

What if you invoke jsbeautify out your Eclipse bundle? You must have already have the node runtime.

[2017-09-07 14:11] #34 closed

[2017-09-07 14:18] aeschli commented on #33
Sorry, there are no plans to also support indented SASS in this node module.

[2017-09-07 14:18] #33 closed

[2017-09-07 14:26] angelozerr commented on #44
I don't say to provide a formatter but provide a kind of extension point to choose an existing formatter.

In other words, I would like to configure CSS Language Server to use an implemention of CSS formatter. So any language client (VSCode, Eclipse, Sublime, Vim, etc) could benefit with CSS format without developping extra code. Language Server provides an API to consume 'format' like JSON langua

[2017-09-07 14:31] aeschli commented on #44
| provide a kind of extension point to choose an existing formatter.
Do you any suggestions how this would look like?

[2017-09-07 15:35] angelozerr commented on #44
Here my idea:

LanguageService API will add `format` method:

[code]

And LanguageSettings will add `cssFormatter` settings which is a path (or name) of the CSS formatter contribution:

[code]

A CSS Formatter should implement a given interface that CSS Language Service should provide:

[code]

When CSS language service is called by CSS Language Server with this settings:

[code]

It will search w

[2017-09-07 15:55] aeschli commented on #44
The idea of vscode-css-languageservice is to be a library that is used by both the css language server and the Monaco editor (in a browser environment). Dynamic loading doesn't fit there.

Maybe you should look into having your own css language server implementation. Like the one we have in the VSCode base, it mostly forwards requests to vscode-css-languageservice library. But it adds the formatti

[2017-09-07 15:58] aeschli commented on #22
@praveenpuglia I'd suggest to just remove 'browsers="none" but add a comment.

[2017-09-07 16:10] angelozerr commented on #44
We could consider that cssFormatter works only in node context. All language client editor uses node.js. I think it's really shame not to provide this feature just because you wish to support browser/node context.

I think you mean https://github.com/aeschli/vscode-css-formatter which is not language server.

I would like to really avoid having my language server. In one hour, I have implemented m

[2017-09-07 18:12] praveenpuglia commented on #22
Will be sending a PR then!

[2017-09-12 13:14] praveenpuglia commented on #22
@aeschli - is the entry for `appearance` removed from `css-schema.xml`? I don't see it in that file.

[2017-09-12 13:22] aeschli commented on #22
@praveenpuglia I haven't removed anything. I don't think `appearance` ever was in there.

[2017-09-12 13:43] praveenpuglia commented on #22
This is urging me to think if the language service should have tiny icons to indicate properties/values that are non-standard/experimental.
Example - MDN has a flask icon indicating experimental feature.

I, however, also think that it will then have to be done for a lot of properties which just increases maintenance overhead for support data.

[2017-09-12 16:43] alexlur commented on #43
Ironically, I need this property to write userstyles to “unfix” websites abusing `webkit-font-smoothing: antialiased`.

[2017-09-12 16:46] alexlur commented on #43
Now that I think about it, what about an API to add custom CSS properties?

[2017-09-12 16:48] aeschli commented on #43
@alexlur In VS Code you could do that by adding snippets...

[2017-09-12 16:56] alexlur commented on #43
@aeschli This is for `monaco-editor`, not Visual Studio Code.

[2017-09-12 17:18] aeschli commented on #43
@alexlur Oh, actually, all you want is that the language server stops warning about it, right?
IMO that makes sense, we should add a `css.lint.ignoredProperties` list.

[2017-09-13 05:16] #42 closed

[2017-09-14 09:20] aeschli commented on #44
IMO adding the extension mechanism to the service library is not the right approach. I'd rather look into a way of extending the server. It's something we could use with servers as well, for other language server features. There it would be fitting to use the node module.

I don't have any solution ready, but maybe we can iterate on that, and a PR in that area would be very welcome.

We wouldn't u

[2017-09-14 09:26] angelozerr commented on #44
Sure! It's an another solution that I love it too:)

Many thanks to take care of this feature!

If I find time, I will try it. Anyway thanks again not to ignore this CSS formatter feature that Eclipse needs really. Thanks!

[2017-10-12 04:48] skcary opened #46 "less validation error"
.px2rem(@name, @px) {
@{name}: @px / @basesize;
}
提示：
less } expected
less at-rule or selector expected

请支持less的这种写法，谢谢

[2017-10-20 09:38] alexlur commented on #46
I have also encountered this issue — you can use this snippet to reproduce it:

[code]

which gives the warning `[less] } expected` while the less compiler issues none.

[2017-10-24 08:20] szimek opened #47 "Add support for CSS next"
According to [this comment](https://github.com/Microsoft/vscode/issues/3907#issuecomment-278026682) one should create separate issues for individual features, so here it is :)

It would be great if [cssnext nesting](http://cssnext.io/features/#nesting) was supported. Currently, such syntax causes VS Code to report it as an error, e.g.

<img width="369" alt="vs-code-css-next-syntax-error" src="http

[2017-10-24 09:08] aeschli commented on #47
CSSnext support is not planned. But we want to support whatever gets added to CSS specs.

[2017-10-26 17:01] chriseppstein commented on #47
@aeschli I think this is good, it would be confusing for developers to not get syntax errors for invalid syntax intended for browsers unless they've opted into support for future features. That said, these features are usually on track to become css and so it's not entirely wasted effort to build support for the new features a bit early -- hidden behind feature flags to which devs would have to op

[2017-11-05 11:10] tempit opened #48 "Remove 'Go to definition' result when it's the same as request location"
I'm writing a LS for a CSS preprocessor, and when implementing the 'Go to Definition' functionality, I see that whenever a textDocument/definition request is sent, I get back a definition with the same exact location as the original request.
When just working with CSS this means 'Go to Definition' has no visible effect in these cases, but when using our preprocessor it means there are 2 definition

[2017-11-07 04:21] octref commented on #44
@angelozerr You can just use prettier which now uses stylefmt and works pretty well with css/scss/less. I've already ported it over to Vetur as the embedded formatter for css/scss/less.

[2017-11-07 04:29] angelozerr commented on #44
@octref your suggestion is about using `prettier  `instead of using `jsbeautify` ? if it that thanks for the hint, but I'm waiting for that LS CSS server provides the capability to provide the CSS formatter customization.

[2017-11-07 04:54] octref commented on #44
One reason is integrating prettier or stylefmt is pretty straightforward, so you don't have to wait for this feature to land. Another reason is I've bundled js-beautify in Vetur before and it has caused many issues, and upstream bugs are never addressed.

[2017-11-07 05:04] angelozerr commented on #44
@octref in my case I'm in Java word with Eclipse, I would liek to avoid developping some extra nodejs process and just use LSP format which is implemented with lsp4e (LSP for Eclipse).

[2017-11-10 07:01] praveenpuglia commented on #47
Couldn't this be made into an extension of some sort?

[2017-11-10 07:18] praveenpuglia commented on #40
A lot of properties has been added. We can get browser data but not the description of the properties. Can we plan something around this?

[2017-11-10 07:30] praveenpuglia commented on #22
I thought i would start working on this today. But I have bunch of doubts.
The spec - https://drafts.csswg.org/css-ui-4/#appearance-switching
defines the appearance property to have just two values. `auto | none`. The prefixed versions however has tons of values.

https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance#Values

If we do need to include this, which the spec says [isn't read

[2017-11-10 07:58] aeschli commented on #22
We only want to add established properties, or this won't be maintainable.
If you want to add an experimental tag, I'm fine with that, and I add UI for that, but it should only happen for properties that are very close to become standard.

[2017-11-10 09:05] praveenpuglia commented on #22
Then I think this can stay at the very bottom of the backlog. It's way far from becoming a standard anytime soon!

[2017-11-11 10:38] amiller-gh opened #51 "Gracefully Handle Unknown At-Rules"
Currently, the parser just gives up when it encounters an at-rule it does not understand. This puts the parser into "recovery mode" and can cause some very wonky syntax highlighting until it successfully recovers.

It should be possible to build a generic unknown at-rule parser that will mark the error and gracefully handle any valid at-rule syntax if all other at-rule parsers fail.

[2017-11-13 09:06] #48 closed

[2017-11-16 13:22] cfsanderson opened #52 "[scss] nested selectors not highlighting"
Nested selectors in .scss files do not seem to be highlighting correctly (see the nested `ul` in screenshot below).
macOS Sierra 10.12.6
VSCode Version 1.18.0 (1.18.0)

![screen shot 2017-11-16 at 8 02 47 am](https://user-images.githubusercontent.com/20695956/32893283-e4622d40-caa6-11e7-9dbd-f4c4f49d07eb.png)

[2017-11-16 16:02] aeschli commented on #52
The css language service does not include syntax highlighting.
This issue needs to go to https://github.com/Microsoft/vscode.
That said, the issue is already fixed in the latest insider (1.19)

[2017-11-16 16:02] #52 closed

[2017-11-23 13:39] aeschli commented on #51
http://www.w3.org/TR/css-syntax-3/#at-rule has the syntax of atrules

[2017-11-24 01:40] #43 closed

[2017-11-24 09:11] aeschli commented on #44
As discussed, the extension doesn't go in the css-language-service, but the CSS language server which is in the vscode repo. I created https://github.com/Microsoft/vscode/issues/39088. PR are welcome!

[2017-11-24 09:12] #44 closed

[2017-11-24 09:18] aeschli commented on #36
This is fixed with https://github.com/Microsoft/vscode-css-languageservice/commit/b017aa784b2c516d769935c85697d260bc2f7847

[2017-11-24 09:18] #36 closed

[2017-11-24 10:44] #46 closed

[2017-11-28 23:10] sorenhoyer commented on #47
I would love cssnext support as well - if not built-in, then in an extension of some sort. cssnext really is the most logical pick today, over LESS and SASS imo.

[2017-12-05 09:23] liuhuini opened #54 "html"
vscode 中package.json所有配置，因为我的html无法识别（view in browser已安装）

[2017-12-05 10:42] aeschli commented on #54
@liuhuini Please file in English. I tried to translate with Google translate but the translation didn't make sense.

[2017-12-06 20:09] rictic opened #55 "Feature request: setting to disable features like jump to definition/find references"
I'm implementing a language service that includes features for jumping to definition / find references with CSS Custom Properties, and I'm finding that the built in CSS Languageservice clashes with the results.

e.g. jump to definition will give two results for the same location with slightly different ranges, turning an instant jump into an interaction with a menu.

(Our language service understa

[2017-12-07 08:23] aeschli commented on #55
The css language service is just a library and the user of the library decides when and and what document location to use it.
If this is about the css language *server* (not service), please file your suggestion against https://github.com/Microsoft/vscode

[2017-12-07 08:23] #55 closed

[2017-12-12 23:58] proteriax opened #56 "Less :matches() is not supported"
![image](https://user-images.githubusercontent.com/8125011/33914889-55b47954-df6e-11e7-8c0a-9aea9224d8d1.png)

Error is `) expected.`

[2017-12-14 03:32] liuderchi opened #57 "[SCSS] Syntax Error when `!important` as arguments of Method"
VSCode underlines error at `!important` syntax when it's argument of method [`if`](http://sass-lang.com/documentation/Sass/Script/Functions.html#if-instance_method):

[code]

However this snippet is valid when pasted to SASS Online Editor (https://www.sassmeister.com/) with option
  - Sass compiler: v3.3.14
  - Syntax: SCSS

And it's compiled to valid CSS:

[code]

[2017-12-15 15:10] romainbraun opened #58 "[less] identifier expected when using @media (@var) syntax"
- VSCode Version: Version 1.19.0-insider
- OS Version: 10.11.6

Steps to Reproduce:

1. Declare a less breakpoint variable like `@m:  ~'min-width: 750px';`
2. Use it in a less file with
`@media (@m) { // rules }`

Get a [less] identifier expected error on the `@m` part.

[2017-12-18 07:11] chriseppstein opened #59 "Error when mousing over attribute selector with namespace"
Normally it shows an html element that would match the selector but with a namespace it gives the following: `Request textDocument/hover failed with message: expr.getRight is not a function`

[2017-12-18 11:13] #59 closed

[2017-12-18 18:13] chriseppstein commented on #59
👍  💯

[2017-12-23 00:21] onetrev commented on #47
Hey @praveenpuglia @sorenhoyer and @szimek ... There is support for CSSNext with this [PostCSS extension](https://github.com/MhMadHamster/vscode-postcss-language).

Unfortunately, as per the usual with VS Code not supporting _cross file references ('imports')_, you still can't get custom properties / variable autocomplete or Go To Declaration and such. But it's a start. It would be great to see mo

[2018-01-10 10:17] piotr-cz commented on #22
Is it possible to make builtin linter ignore some part of a file like so?
[code]

I'm using CSS compiler which adds vendor prefixes at build, so it doesn't make sense for me add all vendor perfixed properties by hand (I'm likely to forget some)

[2018-01-11 20:10] nadavwix opened #60 "Published target compatibility with webpack/rollup"
The current publishing flow uses a tsconfig.json file (the one in src) and transpiles the module imports/exports to UMD.

When trying to bundle the `vscode-css-languageservice` npm package alongside `monaco-editor-core`, webpack errors about `require` being used in a way that cannot be staticly parsed.

Would you consider publishing to es2015 modules as well, and linking to that entry-point from t

[2018-01-12 10:03] aeschli commented on #60
Not super cool as that would duplicate the number of files in the node module. No chance of configuring webpack to understand the UMD files?

[2018-01-14 10:06] AviVahl commented on #60
We've tried using any trick in the book to get the currently published format bundled. Nothing worked. Perhaps we're missing something obvious, but it seems the umd format typescript generates is not compatible with bundling:
`WARNING in ./node_modules/vscode-css-languageservice/lib/parser/cssErrors.js
3:24-31 Critical dependency: require function is used in a way in which dependencies cannot be s

[2018-01-15 08:21] aczekajski opened #61 "No completions after nested selectors"
Given the following piece of SCSS code
[code]
when you invoke `doComplete` from SCSS language service at the denoted place, it returns no completions.

[2018-01-15 09:23] aeschli commented on #60
Other possible solutions:
- Find out how to make the UMD header webpack compatible and file an issue against TypeScript to adopt it: https://stackoverflow.com/questions/45929231/how-to-consume-an-umd-module-with-webpack claims to have a solution
- change our packager in the monaco language packages ([css](https://github.com/Microsoft/monaco-css), [html](https://github.com/Microsoft/monaco-html) an

[2018-01-15 11:27] amir-arad commented on #60
possible workaround:
[matt-gadd/umd-compat-loader](https://github.com/matt-gadd/umd-compat-loader) reverts the umd wrapping.

I've added the following to my webpack configuration (in `module>rules`):
[code]

[2018-01-17 23:27] octref commented on #57
@aeschli `!important` is not an expression according to CSS spec. Wondering what would be the correct way to support it? I'm thinking about special casing for the `if()` function to allow more than just expression in its args.

[2018-01-18 10:54] aeschli commented on #57
@octref Looks like the SCSS parser accept it as a term, even it it results in invalid CSS.
https://github.com/Microsoft/vscode-css-languageservice/blob/0825c4593166ca6aa2b01f9a8817c142d845ca61/src/parser/scssParser.ts#L155 is the place it needs to go.
Hope that doesn't cause issues with the regular usages of `!import1. We should make sure the SCSS parser tests also contain some of these.

[2018-01-23 18:00] octref commented on #56
`:matches` is still in Working Draft phase and the spec is constantly being updated:

https://drafts.csswg.org/selectors-4/#selector-list

And it does not have much browser coverage either:

https://caniuse.com/#feat=css-matches-pseudo

So we would like to postpone the support until it gets more support from browser vendors or becomes a more formal spec.

[2018-01-23 18:33] octref commented on #56
Think I should keep the issue open and add it to backlog instead.

[2018-01-24 08:09] #57 closed

[2018-01-24 08:09] #58 closed

[2018-02-08 00:06] auchenberg opened #68 "Use MDN data to power the CSS language server"
I just had a chat with the MDN team, and they have published a NPM module that enables tools to take advantage of the detailed MDN data.

We should explore using https://github.com/mdn/browser-compat-data to power this language server

[2018-02-08 13:00] akosyakov commented on #60
Repositories which also cannot be consumed with webpack:
- https://github.com/Microsoft/vscode-uri
- https://github.com/Microsoft/node-jsonc-parser

[2018-02-12 12:01] szimek commented on #47
@onetrev Like you've noticed [yourself](https://github.com/MhMadHamster/vscode-postcss-language/issues/18#issuecomment-354724555), this `vscode-postcss-language` extension doesn't really support cssnext :/

[2018-02-26 06:42] ramya-rao-a opened #69 "parseStylesheet doesn't include the right end"
Take this content
[code]

At the end of `op0.1`, the offset is 14
But the cssParser parses the stylesheet and sets the `end` of the stylesheet node with 12 instead of 14

<img width="428" alt="screen shot 2018-02-25 at 10 38 45 pm" src="https://user-images.githubusercontent.com/16890566/36656321-adedecf6-1a7c-11e8-992f-d4923a347ad0.png">

The context here is that `op0.1` is a valid emmet abbreviat

[2018-02-26 21:43] aeschli opened #70 "Test language aware folding"
Refs: #44441

[x] anyOS: JSON
[x] anyOS: HTML
[x] anyOS: TypeScript
Complexity: 3

A new provider API has been added that lets language extensions provide syntax-driven folding ranges:
 https://github.com/Microsoft/vscode/blob/20b5c3a9b5c2352ab45d58287225c5ed061c18f8/src/vs/vscode.proposed.d.ts#L419

Adapters for JSON, HTML and TypeScript have been added, but they are still work in progress and no

[2018-03-01 07:19] praveenpuglia commented on #68
This is something we had a discussion on but no progress was made.
https://github.com/Microsoft/vscode-css-languageservice/issues/40

[2018-03-01 22:07] ramya-rao-a opened #72 "Property suggestions never show up if there is an incomplete property before"
Take this content:
[code]
There are no completions where the cursor (|) is above

[2018-03-02 07:59] #72 closed

[2018-03-02 16:17] #70 closed

[2018-03-08 14:33] #60 closed

[2018-03-11 15:05] AviVahl opened #75 "Project infrastructure: code type safety"
Currently, tsconfig does not use the "strict" option, and types inside many files are way too loose.

There are also places that use `any` implicitly not caught due to this, and cases of null safety ignored by the code and tooling.

I suggest turning on strict checks and fixing the types to reflect exactly each interface.

[2018-03-21 12:44] Azganoth opened #78 "Less: $property gives error"
![screenshot_235](https://user-images.githubusercontent.com/24205667/37710392-471a01f4-2cec-11e8-9bd5-0e06ae881f87.png)
![screenshot_236](https://user-images.githubusercontent.com/24205667/37710399-4c5bca8a-2cec-11e8-9b01-111cfb63ae25.png)

Giving error 'semi-colon expected' or 'property value expected'

[2018-03-26 17:25] ramya-rao-a opened #81 "Completions for selectors are provided instead of property names in incomplete css files"
Try triggering completions in the below content in a css file at the position where the `|` is. You will see completions being provided for selectors instead of property names

[code]

[code]

[2018-04-09 18:24] octref commented on #68
Some more insights:

- mdn/data has data for syntax of css properties, but not descriptions
- Using MDN data could make us always up-to-date on newly added properties. An example: for this one https://github.com/Microsoft/vscode/issues/46423, the [mdn data](https://github.com/mdn/data/blob/31e1b207c71ad1cc6f5013875740ff74cf5a9acb/css/at-rules.json) is:

[code]

[2018-04-09 22:06] pranaygp opened #83 "Cannot read property 'offset' of null"
When using the `LESSLanguageService` on the following sample less file:

[code]

trying to call the method `findDocumentSymbols` triggers the error: `TypeError: Cannot read property 'offset' of null`.

testing.js
[code]

[code]

Stack trace when running `node testing.js`
[code]

[2018-04-10 16:52] octref commented on #68
An analysis on CSS properties:

- Our side: Generated [`browsers.ts`](https://github.com/Microsoft/vscode-css-languageservice/blob/master/src/data/browsers.ts)
- MDN: [at-rules](https://github.com/mdn/data/blob/master/css/at-rules.json) and [properties](https://github.com/mdn/data/blob/master/css/properties.json)

When we compare our browser data with MDN data, there are 239 rules in our side and

[2018-04-11 07:11] aeschli commented on #68
@octref Great analysis, thanks!
For the deprecated properties that are in browser.js but not in MDN, let's add a 'deprecated' flag to our data. Deprecated properties would not proposed in code completions but still used for validation (we can even emit a deprecation warning)

[2018-04-11 07:54] aeschli commented on #68
@octref I assume you wrote a script that extract the data from MDN. I'd suggest to put that script to this repo in the `build` folder.

[2018-04-11 15:07] octref commented on #68
@aeschli Yes I did, I also tried combining its data with ours to provide better IntelliSense.

Here is showing `appearence`, which is a property recorded in MDN data but not ours.
Also in properties in both database, I added `status` and `syntax` to the end. (Just to show one thing we could do).

![css](https://user-images.githubusercontent.com/4033249/38624446-ee8f9676-3d5c-11e8-9242-61a09bf0bd72

[2018-04-11 17:51] octref commented on #68
Overall:

- There are promising features we could do with MDN data, **BUT**
- We need more data from MDN before we can switch over
- For now we'll use MDN data together with our data to enhance the existing features.
- During the process we will build the pipeline for digesting MDN data
- Once MDN provides all data we need, we can do the switch over

Current plan:

- [ ] Have a data importer that

[2018-04-12 01:39] lahmatiy commented on #68
@octref

This task is about syntax validation rather than a value validation.

You might be interesting to look at a value validation that [CSSTree](https://github.com/csstree/csstree) does:
- [Syntax explorer](https://csstree.github.io/docs/syntax.html#Property:background) shows a structure of syntax and a match to a value
- [VS Code plugin](https://marketplace.visualstudio.com/items?itemName=sme

[2018-04-12 07:37] praveenpuglia commented on #68
@octref I had previously worked a little bit with the language server. Really interested in working with MDN data and helping. Let me know how :)

[2018-04-12 16:36] octref commented on #68
@lahmatiy I did take a look of CSSTree, but didn't know about https://csstree.github.io/docs/syntax.html. This is really cool!

Yea, the proper term should be "Syntax validation for CSS property-values".

@praveenpuglia Now a lot of things is still in the air so I don't think it's a good time to jump in. After the major changes go in there should be more specific bugs/features with smaller scopes

[2018-04-12 19:38] aeschli opened #85 "[folding] handle intersecting folding regions"
Folding ranges must not intersect. Region range should be given precedence.

The tests describe the expected bahaviour:
[code]

[2018-04-12 19:43] aeschli opened #86 "[folding] improve region regex"
We want to stay compatible with the css region regexes used for indentation based folding:
https://github.com/Microsoft/vscode/blob/master/extensions/css/language-configuration.json#L26

- no spaces required before and after `#region` and `#endregion`
- allow freestyle text after `#region`
[code]

[2018-04-12 19:47] aeschli opened #87 "[folding] avoid multiple regex evaluation"
Currently, 4 regexes are evaluated on every comment token:
https://github.com/Microsoft/vscode-css-languageservice/blob/master/src/services/cssFolding.ts#L97

- merge patterns to reduce the number of regexes
- use `if`-`else`, not just `if` - `if`

[2018-04-12 20:11] aeschli opened #88 "[folding] limit number of ranges created"
The LSP folding API provides a number of max ranges the that the server should create.
We should pass that limit to the service and limit the number of ranges

[2018-04-12 20:17] aeschli commented on #85
We can discuss what the expected result is, if `#regions` win or if the first started range wins.

[2018-04-12 20:31] Tyriar commented on #68
Related: https://github.com/Microsoft/vscode/issues/7008

[2018-04-12 23:02] #86 closed

[2018-04-12 23:02] #87 closed

[2018-04-12 23:05] octref commented on #85
I think in most cases, having intersected regions would not be what the user intends. I think the first started range sounds more consistent & reasonable. It's also easier to understand.

Another thought is to pass back intersection regions and let editor decide if it should render them all. This is like suggest where we pass back all the items and leave the filtering to editor. Other LSP complian

[2018-04-16 09:38] #88 closed

[2018-04-16 15:48] octref opened #90 "Filter folding ranges based on nesting level"
Part of #89

Currently we if `maxRanges` is provided for `getFoldingRanges`, we filter the ranges serially.
Ideally we should filter based on nesting level.

[2018-04-19 18:44] #85 closed

[2018-04-24 21:27] marchershey commented on #22
Wow.. this still hasn't been resolved yet?

[2018-04-25 05:56] praveenpuglia commented on #22
@aeschli can we just add the entry for appearance for now and when we have the MDN data integration by @octref we can remove that entry from there.

I think we can probably also add a "non-standard" attribute to the entry and set it to true for it. In UI, we can show a warning about the same?

[2018-04-26 18:56] octref opened #93 "Completion for MDN property values"
With #68 we are offering property suggestions for MDN properties. However, we aren't offering anything for the properties.

We should either consider using the parser from CSSTree to understand the `syntax` property of each property entry (formal syntax here: https://developer.mozilla.org/en-US/docs/Web/CSS/Value_definition_syntax), or manually enter value restrictions for them.

[2018-04-30 13:12] aeschli commented on #22
`appearance` got added for April

[2018-04-30 13:12] #22 closed

[2018-05-04 18:28] octref opened #94 "Keep browser.js as small as possible"
With #91 we added a bunch of new properties to `browser.js`, which is also used in the browser and has file size limitations. We should keep `browser.js` as small as possible.

[2018-05-06 09:25] xfq commented on #68
FWIW, the [CSS Indexes](https://drafts.csswg.org/indexes/) produced by W3C contains some properties that are neither in MDN nor in VSC (e.g., [text-decoration-width](https://drafts.csswg.org/css-text-decor-4/#text-decoration-width-property), [text-underline-offset](https://drafts.csswg.org/css-text-decor-4/#underline-offset), [text-emphasis-skip](https://drafts.csswg.org/css-text-decor-4/#text-emp

[2018-05-06 14:50] Tyriar commented on #68
@xfq if MDN accept contributions on these properties then we will get them.

[2018-05-09 12:01] lahmatiy commented on #68
You might be interesting in my work on CSS features dictionaries (properties, functions, pseudo-classes, pseudo-elements etc). I used various sources (mdn/data and other packages), my own research and usage stat on real sites. Currently it's just a lists of features (w/o description), but it can be used for simple tasks (e.g. suggestion or validation) and help to estimate the amount of work for fu

[2018-05-23 18:54] octref opened #98 "Switch to yarn?"
I see 966d558743fbdb6db5f99d605cca0976f92af6a1 and 8dcf82c79a267e4d02febd56afc63f3d1dd66af0. We have both `package-lock.json` and `yarn.lock` in the repo.

Can we stick to one of them? Since we are using `yarn` in VS Code I suggest we stick with it.

[2018-05-23 20:42] octref commented on #98
- [ ] Update build scripts / .vscode files
- [ ] Update travis

[2018-05-25 16:59] #94 closed

[2018-05-25 17:00] #98 closed

[2018-06-02 22:11] connorshea commented on #40
The browser-compat-data project is now at 80% completion (as in, 80% of the old compat tables on MDN have been updated to the new format), and it should cover support for almost all CSS properties, at-rules, etc. :) It’s not entirely complete but it’s very close.

[2018-06-03 04:20] praveenpuglia commented on #40
I am closing this issue in favour of #68. @octref has already made some progress using the MDN data which is live in latest stable. I am sure he has planned a bunch of things already.

[2018-06-03 04:20] #40 closed

[2018-06-03 19:50] connorshea commented on #68
For "Use `mdn/browser-compat-data` to show the up-to-date compatibility for properties, in hover and completion.", is there a good way to map information between `mdn/data` and `mdn/browser-compat-data`? They use different identifiers and don't link between each other, as far as I can tell.

[2018-06-04 03:16] octref opened #102 "Adopt browser-compat-data to show compatibility in hover / completion"
https://github.com/mdn/browser-compat-data

[2018-06-04 09:49] aeschli commented on #51
https://www.w3.org/TR/CSS21/syndata.html#parsing-errors

[2018-06-05 18:42] connorshea commented on #102
Here's the pseudo-class coverage for `mdn/data` vs `mdn/browser-compat-data`, this list probably isn't complete since all the pseudo-classes are sourced from the data repo, and there may be some missing items.

Unless otherwise noted, the name of the selectors in the data repo can be mapped to the `browser-compat-data` repo by taking their name, stripping the colon, and prepending `css.selectors.`

[2018-06-05 18:55] connorshea commented on #102
I looked through [css-schema.xml](https://github.com/Microsoft/vscode-css-languageservice/blob/d83b784f4b3c3e1bf9bc8d6942cc3ddc5befb8cc/build/css-schema.xml) and found a few that are missing from both `mdn/data` and `mdn/browser-compat-data`:

- `:blank`
- `:corner-present`
- `:current`
- `:current()`
- `:decrement`
- `:double-button`
- `:decrement`
- `:end`
- `:future`
- `:horizontal`
- `:increme

[2018-06-05 19:18] connorshea commented on #102
There is one other consistency, and that's that the `bcd` data lists `:host` as `css.selectors.host`, `:host()` as `css.selectors.hostfunction`, `:host-context()` as `css.selectors.host-context`, has no entry for `:host-context`.

For psuedo-class function selectors, there's not much consistency. Just assuming that `:host()` maps to `host` won't work in that specific case, unfortunately. This is p

[2018-06-05 19:27] connorshea commented on #102
For properties, you can map anything in [`properties.json`](https://github.com/mdn/data/blob/627b20277e7df4d2bb5eae88c0351e364a27b15b/css/properties.json) to `css.properties.property-name` in the browser-compat-data repo, at least as far as I can tell.

There are probably a few properties missing from each dataset, but for the most part it should map cleanly.

Examples:

- [`background`](https://g

[2018-06-05 19:30] connorshea commented on #68
I did some research and commented in #102 with everything I could find about mapping between `mdn/data` and `mdn/browser-compat-data`.

[2018-06-05 21:49] octref commented on #102
@connorshea Thanks a lot for your hard work! Those information will definitely come useful when I add support for browser compat data.

As for the nonstandard pseudo selectors, I don't think they should end up in mdn/data because MDN then also need pages dedicated to explaining them. For us we can consider either:
- Removing those completely
- Always rank them (and the vendor-prefixed ones) lower

[2018-06-06 18:25] mbullington opened #103 "scss: Unknown property when using :export, CSS Modules"
Hello!

I'm using a fairly normal Webpack + PostCSS + CSS Modules setup, and one of the features of CSS Modules is that any properties under the tag `:export` are exported as part of the imported Webpack file.

Example:

[code]

[code]

Currently I get an error message `Unknown property: 'myColor'` which makes sense as its not in the CSS or Sass specs, but I don't want to have to disable the entir

[2018-06-08 19:54] octref commented on #102
Some notes while studying the data:

- License is CC0
- Some values are inside their standardized alternative. For example, `-webkit-animation` live inside https://github.com/mdn/browser-compat-data/blob/master/css/properties/animation.json
- Some property values are missing. For example https://github.com/mdn/browser-compat-data/blob/master/css/properties/align-content.json
- browser-compat-data

[2018-06-08 21:17] connorshea commented on #102
Also worth noting for the BCD data: there’s an implicit assumption that support data is ordered such that the most recent support data for a browser is at the top (e.g. Chrome 57 is true, then Chrome 55 has the feature behind a flag). So you should be able to parse just the first support entry for each browser, assuming you don’t need any info on prefixes for past versions, etc.

Unfortunately thi

[2018-06-11 17:14] octref commented on #51
@aeschli How can this co-exist with validation against wrong at-rules, such as `@charse` (typo, without the `t`)?

[2018-06-11 17:33] octref commented on #51
It seems the original issue is for being able to use https://github.com/css-modules/postcss-icss-values

`css-modules` is not a part of W3C CSS spec (not even a proposal). It just adds a bunch of custom syntaxes to standard CSS. I don't think we should support it in css-language-features. If we do, we open doors to supporting the hundreds of postcss plugins that add John Doe's favorite new syntaxe

[2018-06-11 20:48] amiller-gh commented on #51
Current implementation works well enough for single line at-rules (although the prelude highlighting could be a little more fallback-friendly), but it starts getting even little less ideal when you begin using block custom-at-rules:

<img width="456" alt="screen shot 2018-06-11 at 10 29 53 pm" src="https://user-images.githubusercontent.com/7856443/41255770-eacf5242-6dc7-11e8-9218-233961ca8831.png"

[2018-06-11 21:48] octref commented on #102
@aeschli I pushed a WIP PR. See #105

I have some questions regarding the presentation of the browser compat data. I would like to display it this way:

- For `status: standard` properties
  - If it's supported in all our 6 supported browsers, show nothing
  - If any browser does not support it, show **unsupported browsers**
- For `status: experimental` properties: Show both supported and unsuppor

[2018-06-11 22:02] octref commented on #51
@amiller-gh From https://www.w3.org/TR/css-syntax-3/#consume-an-at-rule it seems possible to update the grammar to highlight `@custom-at-rule` as keyword.

@aeschli What's your opinion? Adding a new config that toggles semantic checking for all at-rules?

[2018-06-12 08:33] aeschli commented on #102
I'd rather not make that change.
- no complaints from what I know of
- by having the version number, it gives you an idea how long the feature has been implemented. The version gets intersting once it has only be recently added.
- switching to 'not supported on xy' requires us to maintain the information constantly. Also it doesn't say whay the set of browser is that we talk about. There are more

[2018-06-12 08:52] aeschli commented on #51
Yes, let's add a new validation setting `css.lint.unknownAtRules`. If set, there should be only single problem reported on the at-keyword.
At any case, the css parser should read over the rest of the rule. If the rule has a body the whole body should be ignored (we shouldn't make any assumptions that it contains declarations or other rules).

For improving the TextMate grammar we can file an issue

[2018-06-12 13:42] octref commented on #102
@aeschli I'm suggesting that because with the new data, a lot of the "supported in all browsers" properties gets a `browsers` property. For example:

![image](https://user-images.githubusercontent.com/4033249/41293949-a151cc5a-6e0b-11e8-9d2e-c8fbff02b958.png)

https://github.com/Microsoft/vscode-css-languageservice/pull/105/files

These will be quite noisy and unhelpful.

[2018-06-18 16:40] octref opened #107 "Handle more complex browser-compat-data"
Continuation of #105

There are a few cases in the data that we don't handle.

1. Support was added under an experimental flag
  - For those that have become standardized, we can just display the latest supported version. (e.g., supported through flag in ver 1, become officially supported in v2, we can just show Browser V2)
  - For those that haven't become standardized. We need to find a way to d

[2018-06-18 21:43] octref opened #108 "Fix `:` completion"
Currently,

`.a:|` returns a list of pseudo selectors. However typing out `.a:` from the beginning won't show any selectors.

When `:` is typed, we should retrigger completion.

![comp](https://user-images.githubusercontent.com/4033249/41563915-fbb0ad70-7305-11e8-9a75-44bdedb1d091.gif)

[2018-06-18 21:58] #102 closed

[2018-06-18 21:58] #51 closed

[2018-06-25 23:12] mjbvz opened #111 "API to register valid property names"
From https://github.com/Microsoft/typescript-styled-plugin/issues/58

**Feature request**
Add an API that allows consumer of the language service to register a set of extra known properties that should not generate errors or warnings. We need this functionality in the styled plugin to support react native specific properties

[2018-06-26 03:51] octref commented on #102
For verifier: check https://github.com/Microsoft/vscode-css-languageservice/commit/aed996834970039ba24ee17bc0d9f181e1e2f523 and verify the newly added properties are in the completion documentation.

[2018-07-10 10:18] xfq opened #113 "@counter-style rule is missing"
VS Code version: 1.25.0

<img width="403" alt="counter-style" src="https://user-images.githubusercontent.com/2863444/42504179-78471ce8-846d-11e8-8767-521cbe7f72a8.png">

Docs on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style

[2018-08-30 20:45] jeremychone opened #117 "place-self flag as unknow"
vscode: 1.26.1 (1.26.1)

All other css grid property seems to be there, except this one.

[2018-09-28 12:12] wabain opened #123 "Allow unknown at-rules within CSS rules"
Currently unknown at-rules are only handled in the top-level rules list. However, the specified procedure for [consuming a list of declarations](https://www.w3.org/TR/css-syntax-3/#consume-a-list-of-declarations0) mandates that an at-rule can also occur within the body of a rule. A use case for this is PostCSS systems like Tailwind CSS which take at-rules within rules as inputs; preprocessors like

[2018-10-02 17:16] demsking opened #124 "Any plan to support Stylus?"
Any plan to support Stylus http://stylus-lang.com/ ?

[2018-10-25 03:51] Ragnoroct opened #128 "How to debug this extension?"
How do I debug this extension?

I forked it and installed it locally into my vscode repo but how do I set breakpoints and attach it to a debug vscode session if it's installed through npm?

[2018-10-25 06:51] aeschli commented on #128
- clone, npm install
- set breakpoints
- run JUnit tests from the debug viewlet

[2018-10-25 07:17] #128 closed

[2018-10-29 11:18] aeschli commented on #124
we currently have no plans...

[2018-10-29 11:59] #83 closed

[2018-10-29 12:10] aeschli commented on #68
@octref Can we close this?

[2018-10-29 14:29] octref commented on #68
Let's close this. I'll track further improvements in new issues.

[2018-10-29 14:29] #68 closed

[2018-10-29 14:46] #111 closed

[2018-10-31 22:31] octref opened #132 "Convert to use MarkedString"
`MarkedString` is deprecated and causes confusion. See https://github.com/Microsoft/vscode/issues/62332

[2018-11-01 11:00] aeschli commented on #132
Implementation note:
MarkedString might not be supported by every client of the service. To let clients specify what capabilities they have, I started in the JSON-languageservice that the client can pass in a ClientCapabilty to the service: See https://github.com/Microsoft/vscode-json-languageservice/blob/7b0bc0dcf45ab6411429e986716f969f92773850/src/jsonLanguageTypes.ts#L207

[2018-11-03 11:44] masad-frost opened #202 "Exports conflict in monaco-css"
Might be more suitable to open an issue in https://github.com/Microsoft/vscode-css-languageservice , let me know, but since this issue affects `monaco-css` and it's probably the only use for the repo outside of vscode I thought should open it here.

So `monaco-css` pulls in `vscode-css-languageservice` under `_deps` which causes my bundled monaco css worker to fail when it's fetched to be used.

W

[2018-11-06 17:36] octref opened #133 "Share browser-related data"
Recently in Vetur, I got a great PR by @DeltaEvo that uses the browser metadata we gathered to power the Stylus Language Service ported to Vetur: https://github.com/vuejs/vetur/pull/953

We got the data for free from MDN. We should also make the data easily consumable by other Language Servers that implement a flavor of CSS (PostCSS, Stylus, Sass, etc).

[2018-11-21 09:20] fabb opened #134 "Less Parse Error css-varvalueexpected for Variable Body that starts with `&`"
This is valid less (you can check with ):

[code]

It should be parsed correctly, but VSCode shows the error `css-varvalueexpected`.

[2018-12-06 23:17] JosiahRooney commented on #78
I'm also having this issue, or at least very similar. The following code gives me an error in the editor of

[code]

My code is compiled properly by Less and works fine. It's just showing an error in the editor.

[2018-12-07 23:27] 2-5 opened #136 "Ctrl+click (go to file) doesn't work for saas-loader ~ imports (node_modules)"
Trying to Ctrl+click on the imported module name fails:
[code]
with this error:

[code]

The reason is that I'm using `webpack` with `saas-loader`, and `saas-loader` treats an import path starting with `~` as an import from `node_modules`: https://github.com/webpack-contrib/sass-loader#imports

So the actual location from where the import should be loaded is:
[code]

[2018-12-12 16:40] octref commented on #117
https://github.com/Microsoft/vscode/issues/64835

[2018-12-12 16:40] #117 closed

[2019-01-02 19:56] #103 closed

[2019-01-04 15:37] kevinramharak opened #141 "[less] css-varvalueexpected when using more complicated variable assignment statements"
The following code will compile correctly on `less@3.9`

[code]
The **`#util`** part of `@var: #util.convert...` will signal a `css-varvalueexpected` error as wil the **.** from `@other: .mixin()[]`

Might be related to #134

[2019-01-04 15:43] KevinRamharak commented on #141
I just noticed #135, tough my understanding of the source code is very limited so i cannot tell if that PR solves this problem

[2019-01-28 07:00] octref opened #145 "Enable strict null check"
This can catch a bunch of null reference bugs.

[2019-01-29 11:08] PsykeDady opened #146 "Calc and var"
When you use a css variable inside a `calc` function, auto-completion doesn't wrap it in a `var()`.
what visual studio does:
[code]

what should be

[code]

[2019-02-02 04:15] octref commented on #133
Stylus is using other data now: https://github.com/d4rkr00t/language-stylus/pull/70.

[2019-02-02 04:15] #133 closed

[2019-02-06 20:02] connorshea commented on #124
FWIW this extension exists: https://marketplace.visualstudio.com/items?itemName=sysoev.language-stylus

And it uses the data from this extension to power CSS suggestions, etc. :)

[2019-02-17 05:22] chaitannah opened #147 "Typo in scroll-snap-points-y description text"
I am using the January 2019 (Version 1.31) release of Visual Studio on an Ubuntu 18.04 LTS machine. The description text of the CSS styling property scroll-snap-points-y has a minor typo wherein it says
"..alobg.." instead of "..along..". I have not installed any extensions other than a few themes, and the theme I am currently using is Monokai High Contrast.
![screenshot from 2019-02-17 10-39-52](

[2019-02-17 05:22] chaitannah commented on #147
I am willing to help fix it if that's fine.

[2019-02-22 00:03] ThePlenkov commented on #141
I can confirm I have same working with less.

Just copying examples from here http://lesscss.org/features/#maps-feature it's easy to reproduce.

[2019-02-24 23:36] octref commented on #132
Will do this together with HTML.

Also, https://github.com/Microsoft/vscode-html-languageservice/issues/12 needs to be handled as well. Per the policy we need to show warning when linking to non-Microsoft websites.

[2019-02-26 21:43] mjbvz opened #148 "Cannot find declaration file for module './languageFacts'"
**Repo**
1. Using `3.0.13-next.12` from npm
1. Try importing `vscode-css-languageservice` in a typescript project

**Bug**
See the compile error:

[code]

I confirmed that a directory called `languageFacts` exists on disk but that it only contains js files.

[2019-02-27 19:05] #148 closed

[2019-02-27 19:07] octref commented on #148
Thanks, fixed in 3.0.13.

[2019-03-04 10:30] aeschli commented on #75
duplicate of #145

[2019-03-04 10:30] #75 closed

[2019-03-04 18:58] #147 closed

[2019-03-15 16:20] penx commented on #136
@aeschli any thoughts on this?

I would assume, when encountering a path starting with ~, you can revert to node module resolution?

Do you want a more thorough example? Or any pointers on where this could be solved?

FWIW I made [css-hyperclick](https://atom.io/packages/css-hyperclick) for Atom but have since moved to using VSCode. I'd consider contributing this fix but looks like there may be a

[2019-03-18 10:10] penx commented on #136
From what I can see, uriStringNodeToDocumentLink:

https://github.com/Microsoft/vscode-css-languageservice/blob/69884c1d4cd5bf96de71b576587667853600bd50/src/services/cssNavigation.ts#L236
...
https://github.com/Microsoft/vscode-css-languageservice/blob/69884c1d4cd5bf96de71b576587667853600bd50/src/services/cssNavigation.ts#L262-L271

calls resolveReference here:

[vscode/extensions/css-language-fea

[2019-03-18 10:12] penx commented on #136
Related:

https://github.com/webpack-contrib/sass-loader#imports

[2019-03-18 11:49] penx commented on #136
I have this working and have opened a PR https://github.com/Microsoft/vscode/pull/70693

[2019-04-02 18:18] connorshea opened #150 "Include MDN links in property IntelliSense"
I'm sure I've mentioned this before or discussed it in another issue, but I couldn't find anything specifically about it in the existing issues.

I'd like to be able to hover over, e.g. `background-color` and - besides the description that's already there - have a clickable link to [the MDN documentation](https://developer.mozilla.org/docs/Web/CSS/background-color) for the property.

What it looks

[2019-04-03 16:32] octref commented on #150
I'll probably do it in May. There is a requirement that if a MS product links to external websites, it needs to get explicit consent from user. That means we can't just embed the link directly.

Also there are work that needs to be done to convert the auto-completion's documentation to use Markdown format.

[2019-04-10 12:44] penx commented on #136
@aeschli any chance of some input on the PR for this? Has been open more than 3 weeks.

Microsoft/vscode#70693

Thanks!

[2019-04-29 15:43] TRCYX opened #152 "[scss] Writing properties directly within nested @media and @supports inside a class disallowed"
In the following code, `{ expected scss(css-lcurlyexpected)` is triggered on the three colons inside the nested CSS at-rules:
[code]

Commenting out either `@supports` or `@media` makes everything fine.

VSCode version: 1.33.1

[2019-04-30 20:43] eric-wood opened #153 "Error when autocompleting `appearance`"
I get the following error whenever the CSS language service attempts to autocomplete the `appearance` property.

Please let me know if there's any other information I can provide to help!

[code]

[2019-05-01 17:07] octref commented on #153
https://github.com/Microsoft/vscode/issues/71715

This fix is available VS Code insiders https://code.visualstudio.com/insiders/, or you can wait until our next release in ~2 weeks.

[2019-05-01 17:07] #153 closed

[2019-05-01 17:10] eric-wood commented on #153
Thanks so much!

[2019-05-03 04:30] #124 closed

[2019-05-16 13:47] asashour opened #155 "Incorrect indentation of copied CSS"
Issue Type: <b>Bug</b>

1. Copy the below to the clipboard (notice the indentation is 2 spaces, not the default configured 4)
[code]

2. Create new `.css` file
3. Open the file
4. Paste the clipboard content
5. Actual result:
[code]
(notice the two spaces before the closing parenethesis).

6. Expected result:
[code]

VS Code version: Code 1.33.1 (51b0b28134d51361cf996d2f0a1c698247aeabd8, 2019-04-1

[2019-05-17 08:18] asashour commented on #155
I found this is not CSS-specific. Probably related to the VS code itself, for further investigations.

[2019-05-17 08:18] #155 closed

[2019-05-21 22:13] minkir014 opened #156 "CSS variables across files"
Provide CSS variables autocompletion across files.

[2019-05-30 22:55] connorshea commented on #150
@octref how would you imagine the consent process to be? A notification the first time they run the extension that would toggle a boolean setting, or would it be a popup that shows itself every time someone clicks the link (I assume it would have an 'Always Allow' option)? And would you accept a PR that introduced that behavior? :)

It wouldn't really serve any purpose without the links/markdown f

[2019-06-01 09:42] ntnyq opened #157 "SCSS parse error when using Interpolation with mediaQuery"
The scss code bellow is grammerly correct and works fine.

[code]
but VsCode throw a parsing error `( expected scss(css-lparentexpected)`

---

This is on:

- Mac OS v10.14.5
- VsCode v 1.34.0
- Ruby Sass v3.5.7

[2019-06-01 19:55] teoxoy opened #158 "[FEAT] SASS syntax support"
Currently only SCSS syntax is supported but not SASS.

[2019-06-04 07:53] #136 closed

[2019-06-04 09:36] aeschli commented on #158
Yes, sure, if you find an elegant solution, that would be welcome. There are various aspects to is:
- parsing the input and bringing it to the same AST. The challenge is how to avoid to duplicate most of the code of the css/less/scssParser, without making it more complex.
- adopt all code that generates code (completions, code actions).

If you want to experiment that would be great, but before co

[2019-06-04 14:26] Teoxoy commented on #158
I will look into it. It will take some time as I currently have another project to focus on but I would like to implement the SASS syntax nonetheless.

[2019-06-17 04:21] octref commented on #150
Notification on first time clicking an external link of specific domain, say `https://developer.mozilla.org`. If user accepts, it's added to a setting (or cache?) and wouldn't show notification next time.

Not yet, I'll work on this in June. https://github.com/microsoft/vscode-css-languageservice/issues/132 needs to happen first. I also want to make sure for custom loaded data, people can do simil

[2019-07-04 21:58] octref opened #161 "Add Azure Devops definition"
So we get Windows coverage. This is pretty important for doing anything related to path handling.

[2019-07-05 07:58] SamBrishes commented on #141
Hellow,

Same here using multiple guarded namespaces and ref-link them to a variable as shown below. You can copy and paste this code [on this online Less compiler](https://less.pytes.me) (which uses Less 3.9.0), so its valid Less code!

[code]

Sincerely,
Sam.

[2019-07-06 05:11] BPScott opened #162 "Symbols are not found across file boundaries"
Thanks to `@import` definitions and usages of symbols may be found across file boundaries, instead of just the current file. It'd be cool VSCode was smart enough to follow through `@import` definitions  to find definitions and usages, in the same way that JS/TS language features can identify definitions/usage in other files. My primary use-case for this is scss files using things like mixins, exte

[2019-07-08 08:06] tedconn opened #163 "Add support for substring matching attribute selectors"
According to [the level 4 spec](https://www.w3.org/TR/selectors-4/#attribute-substrings) the following syntax is valid:

[code]

But I am getting an error:

<img width="418" alt="Screenshot 2019-07-08 at 10 05 25" src="https://user-images.githubusercontent.com/38358184/60793422-fd9ae100-a167-11e9-86e1-3df7f4e0fb59.png">

[2019-07-12 10:35] penx commented on #136
@aeschli there are still issues with this, please see my comment on https://github.com/microsoft/vscode/pull/70693#issuecomment-510838348

Maybe we can reopen this or I can open a new issue for this if you'd prefer?

[2019-07-12 17:45] aeschli commented on #136
Let's create a new issue...

[2019-07-15 21:25] #161 closed

[2019-07-27 01:31] #132 closed

[2019-08-01 07:13] mciesin commented on #136
@penx @aeschli
when you prefix your path with `~`, webpack not only searches for the file inside the node_modules directory, but also considers aliases defined using `webpack.config.js`.

This behavior has already been taken into account for JS - you can inform IntelliSense about your aliases using [jsconfig](https://code.visualstudio.com/docs/languages/jsconfig#_using-webpack-aliases). Would it b

[2019-08-02 17:12] sts24 commented on #152
Yup, I am experiencing the same thing still in version 1.36.1

[2019-08-07 13:28] alextes opened #168 "Is there a way to use this plugin with css-in-js?"
I use it with https://github.com/neoclide/coc.nvim but that shouldn't change much.

[2019-08-14 15:14] pshem opened #169 ":not() CSS3 selector is misparsed"
In VS Code, when editing a CSS file and hovering over a selector you can see an example of an element that would be matched. However, for `:not(.class)` situations, this example is wrong.

Correct behaviour: `:not(.class)` shows an example with the correct selector(`:not(.class)`)

Current behaviour: A non-existent `:not` CSS selector is shown

Related issues: This might be related to #56, but `:n

[2019-08-16 12:57] aeschli commented on #168
vscode-css-languageservice works on a css/less/scss input file and it creates proposals and code actions for such content.

So I'm not sure how it could be used for css-in-js where the the embedded css is similar to css but not quite...

[2019-08-16 16:31] alextes commented on #168
I should have clarified that I'm talking about only libraries that use strings to write css, in which case the CSS is character for character css/less/scss, in which case I'm not sure what isn't quite the same. I realize thinking about this more that the most useful feature would actually seem to me completion and snippets but I'd guess those actually require vscode to send text to this service, w

[2019-08-16 16:31] #168 closed

[2019-08-19 23:08] octref opened #171 "Reimport browser compat data"
Related: https://github.com/mdn/browser-compat-data/issues/4650

Old importer no longer works correctly with the new status schema.

[2019-08-21 13:41] #145 closed

[2019-08-23 18:53] #150 closed

[2019-08-23 19:11] connorshea commented on #150
🎉

[2019-08-25 20:03] sryze opened #173 "Error while computing document links for ..."
I get this error every time I save a *.scss file:

[code]

It causes the bottom (output) panel to pop up every time I hit save and this is quite annoying TBH.

(I'm not sure if this is the correct repo for this bug, should I create it in the vscode repo instead?)

VS Code version:

[code]

Edit:

1.36 works fine

[2019-09-02 00:43] SpectralKH commented on #158
@aeschii I'm not really knowledgeable about this, but in terms of parsing, shouldn't it be pretty possible to just put that into the existing SCSS files? All you need to do, if I'm not mistaken, is to check for newlines instead of semicolons, and newlines+indent changes instead of curly braces. Then you could do the same input into the AST as you would with SCSS. Am I correct about that?

[2019-09-02 09:41] aeschli commented on #158
@SpectralKH I'm no expert either. My understanding is that SASS has some more differences as outlined here: https://www.sitepoint.com/whats-difference-sass-scss/
Then there is stuff like error recovery, reporting and the behaviour of hovers and code completion which are all tuned for SCSS.

[2019-09-02 10:49] SpectralKH commented on #158
@aeschli I originally thought the only difference was that it uses indentation instead of curly braces and newlines instead of semicolons. [The documentation](https://sass-lang.com/documentation/syntax) says this, though:

[2019-09-02 12:15] mickaelistria commented on #44
Can you please elaborate what makes is not really attractive? Wouldn't it just be a matter of adding a formatter like prettier as dependency and making the `format` LSP query delegate to it?
How would a separate LS/extension be better from the CSS Language Server POV?

[2019-09-02 15:11] tomrav opened #175 "regression: "unknownProperty" diagnostics loses case sensitivity for a given symbol"
I am maintaining a [vscode plugin](https://github.com/wix/stylable-intelligence) that utilizes the programmatic API of this service. As part of our extended API on top of CSS, I am actively filtering some warnings from the service, while allowing others to pass.

I have noticed a change in behavior with the symbol names shown in the diagnostic. The original symbol was capitalized, while the diagno

[2019-09-02 15:49] aeschli commented on #44
@mickaelistria It's still am lot of work to maintain as users blame our LS if the formatter doesn't behave as expected or is missing a feature. In VSCode we have a marketplace and we try to outsource some work to other extensions. Also it gives users a choice. There's already a prettier extension, that many user prefer.
For historical reasons, the `vscode-html-languageservice` includes a formatter

[2019-09-02 16:04] mickaelistria commented on #44
Thanks for your insights, much appreciated.

I think we'll just not ship a formatter in Wild Web Developer then and use the same policy as yours about expecting users to install another extension if they want it. If at some point we find another LS that does formatting, we'll try to either replace the VSCode one or use both in parallel in Wild Web Developer.
I don't really buy the argument of givi

[2019-09-04 17:45] octref commented on #171
Actually, although the underlying data changed, the API hasn't changed so we don't have to change the importer.

[2019-09-04 17:45] #171 closed

[2019-09-07 00:11] BPScott commented on #162
Yo @aeschli and @octref, I was wondering if you'd saw this or managed to fit this into your roadmap? It feels like a natural extension now that the language service can handle working out import paths now

[2019-09-07 14:24] octref commented on #162
There's plan to do https://github.com/microsoft/vscode/issues/6734 which could lay foundation for this to happen.

[2019-09-09 12:13] kevinramharak commented on #141
I tested the cases as written above. All seems to be working with the merging + shipping of https://github.com/microsoft/vscode-css-languageservice/pull/135. Thanks for the effort!

[2019-09-09 12:13] #141 closed

[2019-09-10 18:08] dbanksdesign commented on #173
I am having the same issue. Here is my environment:

Version: 1.38.0
Commit: 3db7e09f3b61f915d03bbfa58e258d6eee843f35
Date: 2019-09-03T21:47:00.464Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

[2019-09-15 01:01] nicholasengleman opened #177 "Add support for updating css/scss import paths when file is moved or renamed"
It would be very convenient if the paths for imported css and scss files could get updated whenever the files are moved or renamed.

[2019-09-20 10:24] EECOLOR opened #178 "@directives in `css.customData` generate validation warning"
`.vscode/settings.json`
[code]

`.vscode/custom.css-data.json`
[code]

It shows up under code completion. It also shows the description on however. It however is still marked as `Unknown at rule @valuecss(unknownAtRules)`.

[2019-09-26 19:12] octref commented on #173
Do you have a repro case?

[2019-09-26 19:16] octref commented on #175
This doesn't happen in latest version — let me know if it doesn't fix your case.

[2019-09-26 19:16] #175 closed

[2019-09-26 19:29] #178 closed

[2019-09-26 21:12] EECOLOR commented on #178
👍

[2019-09-26 21:14] EECOLOR commented on #47
Would be nice if we could add these kinds of things using [custom data](https://github.com/microsoft/vscode-css-languageservice/blob/master/docs/customData.md).

[2019-10-02 10:31] alezzzzz commented on #173
Same problem here!
Environment:

Version: 1.38.1 (user setup)
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-11T13:35:15.005Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

[2019-10-05 23:36] sryze commented on #173
I've opened a pull request for this bug: #180

Steps to reproduce the error:

1. Create a file named test.scss
2. Paste:

[code]

3. Open the file in VS Code

[2019-10-07 08:32] #173 closed

[2019-10-09 14:20] MikeJerred opened #181 "Update SCSS grammar"
I'm not sure if this is the right repository, but there are several issues with how vscode handles linting and syntax highlighting of scss files e.g.:

* https://github.com/microsoft/vscode/issues/81943
* https://github.com/microsoft/vscode/issues/78974

I did see a reference to [atom/language-sass ](https://github.com/atom/language-sass) in the source code (for vscode), but that repository has be

[2019-10-10 08:01] alexr00 commented on #181
Since there are already issues for this (microsoft/vscode#81943, microsoft/vscode#78974) those are the best ones to up-vote. If you have other specific issues, please feel free to open them in the microsoft/vscode repository. If there is a better supported grammar than atom/language-sass then please do mention in! I am happy to consider switching to a better maintained grammar.

[2019-10-10 08:01] #181 closed

[2019-10-10 10:06] aeschli opened #182 "Add ':' and ';' as trigger characters"

[2019-10-21 22:07] octref opened #186 "[less] parsing error for using parametric mixins"
Originally reported at https://github.com/microsoft/vscode/issues/68324

This generates a warning:

[code]

Whereas this is fine:

[code]

Both compiles with Less.

@matthew-dean If you do have time, would you mind taking a look? Think your PR already solved the original issues' first two cases, would be great if the last case can be supported too.

[2019-10-21 22:27] matthew-dean commented on #186
@octref If I can find the time, for sure!

[2019-10-24 07:58] aNickzz opened #189 "Variable interpolation incorrectly recognized as ID selector"
Pretty much a duplicate of https://github.com/microsoft/vscode/issues/75905, however @octref  suggested I open a new issue, and the contributing guide lead me to this repo.

Selectors in SCSS composed of variables wrapped in `#{}` are incorrectly identified as ID selectors, which triggers the error / warning about using ID selectors.

Tested on the latest insiders build:

![image](https://user-ima

[2019-10-24 09:39] maxgaurav commented on #156
Any update on this?

[2019-10-27 08:58] MartinDoyleUK commented on #156
In terms of features, this would be really helpful. We use CSS variables to make dynamic theming work slickly, and it would be super helpful to have VSCode find all CSS files with variable definitions in and to then start prompting as soon as `--` is entered in ANY file (because we not only use them in CSS, but also TSX files and even raw JavaScript via a helper).

[2019-10-29 18:46] roblourens commented on #189
Seems like the original issue still reproes, will close this in favor of that one.

[2019-10-29 18:46] #189 closed

[2019-10-29 19:45] octref commented on #189
Thanks! I didn't enable the rule explicitly, which would have reproduced the problem.

[2019-11-13 18:57] paulozoom opened #193 "Add @include with nested selectors to Outline View"
It’s extremely common for SCSS developers to use `@include` as shortcut for `@media` queries or often-repeated selectors, .e.g.:

[code]

However, selectors nested inside `@include` don’t appear nested in the Outline View, as they would if nested in `@media` since cdf495432eb8c1cba25e9d83b94895305c757cd1. It’d be extremely useful to see these in the outline as well.

[2019-11-15 10:54] dimitir commented on #136
try vs code CSS Navigation

[2019-11-25 23:11] #157 closed

[2019-11-27 18:20] mrmlnc opened #196 "Hover does not work for functions"
The hover provider does not show anything for the function call declaration.

[code]

<img width="307" alt="Annotation 2019-11-27 212038" src="https://user-images.githubusercontent.com/7034281/69749549-c8654e80-115b-11ea-9d5b-a7ab8100e9dd.png">

[2019-11-27 22:49] octref opened #197 "Put media features as part of Custom Data Contribution"
New media features are being added, such as https://developer.mozilla.org/en-US/docs/Web/CSS/@media/aspect-ratio

By generalizing this part of support, we can support new media features in the future without having to change code: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#Media_features

@aeschli What do you think?

[2019-11-29 06:36] mrmlnc opened #199 "Hover does not show information about local symbols without CTRL"
Hello, I'm the maintainer of the [`vscode-scss`](https://github.com/mrmlnc/vscode-scss) plugin.

As part of the plugin update, I want to disable IntelliSense providers for the current file. This is necessary in order to not show duplicate symbols in the tooltips (completion, hover, …). Maybe you can suggest something else?

I found that Hover does not display information about the current symbol.

[2019-11-29 06:37] mrmlnc commented on #199
@octref, this is question as part of https://github.com/mrmlnc/vscode-scss/issues/94.

[2019-11-29 07:50] aeschli commented on #199
Makes sense to me to improve out hover

[2019-12-13 09:45] aeschli commented on #202
I cleaned things up with https://github.com/microsoft/vscode-css-languageservice/commit/a652e5da7ebb86677bff750c9ca0cf4740adacee

[2019-12-13 09:45] #202 closed

[2019-12-19 19:21] MattMcAdams opened #203 "[bug] variables before use and forward"
Given the following example scss:
[code]
`@use` is flagged with a validation error `at-rule or selector expected` from `scss(css-ruleorselectorexpected)`

You should be allowed to define variables before the `@use` or `@forward` statements for use in module configuration, and the above will compile (given it has real data) using dart sass

From Sass documentation:

VS Code version: Code 1.41.0 (95

[2019-12-27 23:06] paull39 opened #205 "Development Enviroment"
Hey,
thanks for your great work. Your Software is part of my everyday work.

I would like to have some kind of development enviroment to get my hands on this repo and solve some issues.
Do you mind giving out some hints how you develop?

[2019-12-30 08:49] aeschli commented on #205
Thanks for the positive feedback!
See https://github.com/microsoft/vscode-css-languageservice/blob/master/README.md#development for instructions on how to work with the code.

[2019-12-30 08:49] #205 closed

[2020-02-12 12:07] tomrav opened #208 "[css] "unknownProperties" diagnostics loses case sensitivity for a given symbol"
I've opened issue #175 before, but it appears to still be occurring.

The "unknownProperties" warning message causes the symbol warned about to be printed in all lower case.

![Screen Shot 2020-02-12 at 14 11 58](https://user-images.githubusercontent.com/6399886/74334021-c6e21480-4da1-11ea-8682-9ac5c315d25c.png)

In my case I'm filtering these warnings against a managed list of known symbols in th

[2020-02-13 16:33] JeremiePat opened #209 "[scss] parsing error with boolean operator "not" in front of namespaced values"
When using the Boolean operator `not` in front of a namespaced value, we got a parsing error.

Here're some examples of valide case marked as wrong:

---
[code]
We got a "Semi-colon expected scss(css-semicolonexpected)" error right after 'bar'

---
[code]
We got a "{ expected scss(css-lcurlyexpected)" error right after 'bar'

---
Those are valid SCSS syntaxe so those error should not arise.

[2020-02-17 11:32] #203 closed

[2020-02-17 11:35] aeschli commented on #203
I fixed this by no longer enforce in the parser that @use or @forward rule are first.
This check should be done in a linter (likly the scss watcher that users run).

[2020-02-17 12:06] #61 closed

[2020-02-18 08:58] TreeMoons opened #210 "would you mind supporting 'apsnetcorerazor'?it`s view-language of .net core."
If have any plan,that`ll be great.

[2020-02-18 15:20] thedamon commented on #152
Happening for me as well for a long time.
Happens on any rule inside nested supports and media (which *is* perfectly valid) whether it's `@supports > @media` or `@media > @supports`

[2020-02-21 10:16] #209 closed

[2020-02-21 10:32] #208 closed

[2020-02-21 10:42] #152 closed

[2020-02-21 10:47] aeschli commented on #78
@Azganoth I don't see this error in the latest:
![image](https://user-images.githubusercontent.com/6461412/75028067-e82cba00-549f-11ea-9545-b7a8a3e2fb13.png)
Maybe it got fixed or the error comes from some other extension? (check the problems view)

[2020-02-21 10:49] aeschli commented on #78
Same for the snippet that @JosiahRooney pasted:
![image](https://user-images.githubusercontent.com/6461412/75028190-20cc9380-54a0-11ea-8232-44880b00d262.png)

Closing issue.

[2020-02-21 10:49] #78 closed

[2020-02-21 10:54] #186 closed

[2020-02-21 10:56] aeschli commented on #210
Razor support is included with the C# extension: https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp

[2020-02-21 10:56] #210 closed

[2020-03-08 10:34] Jamie0327 opened #211 "IE-grid special value trigger error"
the code :
[code]
the forth line has a special value'(1fr)[4]'，it triggers error(s)
[code]
even though,it's not fatal,the value above  equals  `1fr 1fr 1fr 1fr`,and does not trigger error.
the code is auto created by a extension(autoprefixer),and it's normal behave in browser.
it just show error things in vscode,I don't know Whether this problem can be fixed?

[2020-03-09 08:27] aeschli commented on #211
https://css-tricks.com/css-grid-in-ie-debunking-common-ie-grid-misconceptions/#article-header-id-1

[2020-03-11 12:10] IljaDaderko opened #212 "[BUG] css language server fails to parse scss file that has "using" option alongside @inclue"
- VSCode Version: 1.43.0
- OS Version: macOS 10.15.3

Steps to Reproduce:
1. Create following scss mixin in your `_mixins` file or anywhere else
[code]
2. Use this mixing in any other scss file like so
[code]

scss continues to compile and work as expected, however vscode css-language-server now always throws following error:
[code]

Does this issue occur when all extensions are disabled?: Yes

[2020-03-11 12:11] IljaDaderko commented on #212
I opened same issue in vscode repo https://github.com/microsoft/vscode/issues/92472 could you please let me know if this is more appropriate place for it, so I can delete the duplicate.

[2020-03-11 12:12] IljaDaderko commented on #212
Relevant scss documentation: https://sass-lang.com/documentation/at-rules/mixin#passing-arguments-to-content-blocks

[2020-03-11 15:39] #212 closed

[2020-03-13 14:09] yukulele opened #213 "support media queries level 4 range"
When I use media query level 4 range:
[code]
vscode show this error : `identifier expectedcss(css-identifierexpected)`

[2020-03-15 02:20] myWsq commented on #156
Any update on this?

[2020-03-23 06:12] yoyo837 commented on #213
same here:
[code]

[2020-05-05 11:20] danielweck opened #214 "Feature request: configuration option `validAtRules` (for `UnknownAtRules`), just like the existing `validProperties` (for `UnknownProperty`)"
Code references:

https://github.com/microsoft/vscode-css-languageservice/blob/06085e80fb12729c0c3f81feca1a5776d31a4d38/src/services/lintRules.ts#L53-L55

https://github.com/microsoft/vscode-css-languageservice/blob/06085e80fb12729c0c3f81feca1a5776d31a4d38/src/services/lintRules.ts#L43-L44

Related issues:
https://github.com/microsoft/vscode-css-languageservice/issues/113
https://github.com/micros

[2020-05-25 18:33] pguijarr opened #215 "Unknown property: dominant-baseline in svg texts"
## Environment
## System:
 - OS: Linux 4.15 Ubuntu 18.04.4 LTS (Bionic Beaver)
 - CPU: (2) x64 Intel(R) Core(TM) i7-4770K CPU @ 3.50GHz
 - Memory: 881.58 MB / 7.79 GB
 - Container: Yes
 - Shell: 3.1.2 - /usr/bin/fish
## Binaries:
 - Node: 12.13.0 - ~/.nvm/versions/node/v12.13.0/bin/node
 - Yarn: 1.19.1 - ~/.nvm/versions/node/v12.13.0/bin/yarn
 - npm: 6.12.0 - ~/.nvm/versions/node/v12.13.0/bin/npm

[2020-05-28 18:55] rwols opened #217 "Escape html entities in textDocument/hover"
When doing a textDocument/hover on e.g. `background-color`, I'm getting this:
[code]
The `"value"` confuses our markdown parser because it contains `<color>`. It is interpreted as a html entity. Please escape html tags.

[2020-06-01 22:50] proteriax commented on #56
According to caniuse.com, it is now supported by browsers of over 94.19% users globally.

[2020-06-29 13:02] aeschli commented on #217
Fixed by https://github.com/microsoft/vscode-css-languageservice/commit/82caae4cb2bbbdc86b0ba7dad7ef310e31ccf352

[2020-06-29 13:02] #217 closed

[2020-07-03 08:57] Teoxoy commented on #158
I said I will be willing to implement this but unfortunately I haven't found the time to do so and now it's no longer a priority for me.
Feel free to close the issue if no one wants to pick this up.

[2020-09-09 14:39] clubajax opened #221 "Suggestions are polluted"
The autocomplete suggestion for SCSS are very frustrating. Basic properties are buried below rare, esoteric, or invalid properties.

Additionally, basic elements (div, span, etc) do not come up in the list at all.

Below I am attempting to access: background-color, margin, and font/family/weight.

![scss-bg](https://user-images.githubusercontent.com/290747/92613036-1d53fa80-f280-11ea-9c59-63305098

[2020-09-09 20:05] aeschli commented on #221
This has been fixed, please try the latest version of VSCode insiders (new stable coming soon)

[2020-09-09 20:05] #221 closed

[2020-09-23 15:02] ronilaukkarinen commented on #156
I'm also looking for this.

[2020-10-21 09:21] felixfbecker opened #223 "`color-scheme` CSS property not recognized"
![image](https://user-images.githubusercontent.com/10532611/96700020-3aa3da80-138f-11eb-813b-02599e398003.png)

The `color-scheme` property sets the default appearance of native form elements. It's supported in Chrome and Safari.

See
- Article: https://web.dev/color-scheme/#the-color-scheme-css-property
- Spec: https://drafts.csswg.org/css-color-adjust/#color-scheme-prop

[2020-10-26 18:14] jathak opened #224 "[scss] Reassigning a variable from another module is incorrectly flagged as a syntax error"
The Sass module system allows variables from one module to be reassigned in another with the following syntax.

[code]

VSCode currently flags this as a syntax error.

[2020-11-02 10:22] dcorb opened #225 "Would you recommend to disable VS Code css.validate when using StyleLint rules?"
VScode only supports around 20 linting rules (and I guess they are covered by StyleLint)
https://github.com/microsoft/vscode-css-languageservice/blob/5f909a88efd6b097c3e40c0f429326ac98be3ef1/src/services/lintRules.ts#L31-L51

Is there any benefit to have both `css.validate` and StyleLint at the same time?

We noticed there is double-reporting if `css.validate` is enabled

![image](https://user-ima

[2020-11-11 20:38] aeschli commented on #47
Closing as out-of-scope

[2020-11-11 20:38] #47 closed

[2020-11-11 20:46] #108 closed

[2020-11-11 20:48] aeschli commented on #107
Closing, no plans for now

[2020-11-11 20:48] #107 closed

[2020-11-11 21:03] aeschli commented on #193
![image](https://user-images.githubusercontent.com/6461412/98863922-61729f80-2469-11eb-83af-319fa11b7596.png)

The nested selector is in the outline, but not a node for `@include`

Are you suggesting a node for  `@include` if it has a body as argument?

[2020-11-11 21:04] aeschli commented on #196
What could we show? The full content of the function?

[2020-11-11 21:20] aeschli commented on #213
https://www.w3.org/TR/mediaqueries-4/#mq-range-context

[2020-11-11 21:25] aeschli commented on #214
Note that in VSCode this can already be solved by adding custom data: https://code.visualstudio.com/Docs/languages/CSS#_css-custom-data

[2020-11-11 21:30] aeschli commented on #215
I think the issue is with the ts-styled-plugin: https://github.com/microsoft/typescript-styled-plugin/issues/115

[2020-11-11 21:30] #215 closed

[2020-11-11 21:39] aeschli commented on #225
Yes, we recommend to disable build-in liniting rules if you use a more powerful linter.
`css.validate` will also turn off syntax checking. Ig you just want to disable linting rules, use the `css.lint.*` settings.

[2020-11-11 21:39] #225 closed

[2020-11-11 21:41] aeschli commented on #223
We generate our table of properties from https://github.com/mdn/data.

Looks like `color-scheme` is still experimental.

Note that you can use the `css.lint.validProperties` setting to avoid the warning.

[2020-11-11 21:43] aeschli commented on #177
closing as out-of-scope

[2020-11-11 21:43] #177 closed

[2020-11-11 21:47] aeschli commented on #163
The sample seems to work now.

[2020-11-11 21:47] #163 closed

[2020-11-11 21:47] aeschli commented on #158
Closing as out-of-scope

[2020-11-11 21:47] #158 closed

[2020-11-11 21:48] aeschli commented on #113
This work now.

[2020-11-11 21:48] #113 closed

[2020-11-11 22:11] paulozoom commented on #193
Yes, precisely, if it has a body, would count as a note for navigation and symbol tree purposes.

[2020-11-23 03:06] guilhermetod opened #227 "@forward "hide/show" results in error"
Using Sass' @forward "hide/show" feature is outputing two errors whenever I try to hide or show morre than one variable or function.

I tried disabling all extensions but still the same problem.

Sample:
[code]

Errors:
[code]

[2020-11-27 20:40] natevw commented on #215
@aeschli Why would the issue be with the plugin? AFAICT it relies on the language services provided **here** to know about CSS properties.

So information about this property should be added to src/data/webCustomData.ts in *this* library, no?

[2020-11-27 20:55] natevw commented on #215
The spec for this property can be found at either https://www.w3.org/TR/SVG11/text.html#DominantBaselineProperty (per SVG 1.1) or https://drafts.csswg.org/css-inline/#propdef-dominant-baseline (per CSS draft).

Here's a first draft of what probably needs to be added:

[code]

However, as I went to see what the `relevance` property was about I saw at the top of the webCustomData file that it is per

[2020-11-30 13:45] aeschli commented on #215
The hover shown in the screenshot shows that the error is generated by `ts-styled-plugin`.

But you are right, the `vscode-css-languageservice` also doesn't know of `dominant-baseline`. It's because it is a SVG attribute and we currently don't have these in our css data. We track that in https://github.com/microsoft/vscode/issues/85828

I see that @octref played around with that in the SVG sample

[2020-11-30 14:50] #227 closed

[2020-12-14 14:44] dummdidumm opened #229 "Upgrade vscode-languageserver-types"
`3.16.0` of `vscode-languageserver-types` was released. It contains the latest and now stable typings. The CSS language service contains typings of an early `3.16.0-next`-Version which are outdated. For example the `Diagnostic` interface has a property `code` which is `string | number | DiagnosticCode`. That last one seems to be introduced experimentally and was removed from `3.16.0`. I therefore

[2020-12-14 21:19] aeschli commented on #229
Released 5.0.0 with the types update

[2020-12-14 21:19] #229 closed

[2021-01-05 19:04] vimtaai opened #231 "Error message for SCSS bracketed lists"
When using bracketed lists in SCSS code I get an error:

![image](https://user-images.githubusercontent.com/14181912/103687814-2e441c80-4f91-11eb-9969-f02dc543f206.png)

The usage of square brackets is valid in SCSS the code compiles fine.
<https://sass-lang.com/documentation/values/lists>

[2021-01-12 11:33] karimshalapy commented on #156
Can't wait for this to be implemented!

[2021-01-12 11:34] karimshalapy commented on #156
Any update on this?

[2021-01-19 01:09] lacolaco opened #232 "`@apply` throws validation errors in SCSS"
I want to use the `@apply` directive in SCSS files. It's definitely valid in `sass` compilation but VSCode editor shows errors like below.

![image](https://user-images.githubusercontent.com/1529180/104975592-6b52e900-5a3e-11eb-9382-40ee27db5319.png)

These errors are disappeared when I disable `SCSS: Validate` flag in settings. How can I use the `@appy` with built-in validations?

[2021-01-19 01:30] lacolaco commented on #232
Maybe will be solved by #214

[2021-01-29 22:56] chromy opened #233 "Duplicate TextDocument exports"
`cssLanguageTypes.ts` seems to export two different definitions of`TextDocument`.

At [the top](https://github.com/microsoft/vscode-css-languageservice/blob/8c8d6c191a67219463566412f585bef95a1f3e96/src/cssLanguageTypes.ts#L8) of the file there is the following code:

[code]

- The first `TextDocument` comes from the explicit export [from vscode-languageserver-textdocument](https://github.com/micro

[2021-02-04 12:47] PodaruDragos opened #234 "Question: Any plans to support stylus ?"
I know this has been asked before, but a lot of time has passed since then.
Do you consider adding it ?

If not can someone explain why ? people still use stylus as far as I know (myself included)

[2021-02-05 14:11] aeschli commented on #234
Sorry, no plans. Supporting a new language is a lot of work. Not only implement but especially to maintain. The VSCode team doesn't have the time budget for it. If anyone is interested to work on it, that would be great. That said, there are VSCode stylus extensions out there, with more than just syntax highlighting, e.g. https://github.com/d4rkr00t/language-stylus. Maybe best is to support these.

[2021-02-05 14:11] #234 closed

[2021-02-05 14:23] #233 closed

[2021-02-22 13:24] dummdidumm opened #235 "Provide type definitions for Stylesheet"
Right now, the result of the parse method is `Stylesheet` which is just an empty object. I don't know if this intended in order to keep the API private, but it would be great to have some more type information on the result, also to get more confidence in using the resulting AST ("these are types I can expect to use for this major version of the library"). The HTML language service does something

[2021-03-15 11:44] TomasHubelbauer opened #236 "variables whose names are bare numbers are not recognized as such"
This CSS code:

[code]

Is highlighted this way in VS Code:

![image](https://user-images.githubusercontent.com/6831144/111148449-ef7fa380-858b-11eb-8072-cd7229101850.png)

When I update the variable names to be strings:

![image](https://user-images.githubusercontent.com/6831144/111148538-09b98180-858c-11eb-862b-2a7e64e8b586.png)

Hopefully this is the right place to report this. Let me know if I

[2021-03-18 00:56] gabriellecrawford commented on #156
another vote for this one, we also use variables at Oracle and this would be helpful.

[2021-03-23 19:53] johnsoncodehk opened #237 "@apply error should not affect next line"
Related: https://github.com/johnsoncodehk/volar/issues/103
Language: scss

In this code we got 3 errors. `css-semicolonexpected` and `css-ruleorselectorexpected` errors is expected, but `css-lcurlyexpected` expected not.

[code]

[2021-04-07 10:24] octref commented on #215
@aeschli https://github.com/microsoft/vscode/issues/66053, the outcome was not to include SVG support in the core as most people don't hand-write SVG.

[2021-04-13 23:47] natevw commented on #215
Bummer. This isn't even about what generates the SVG. I have a lot of generated inline SVG and one of my **CSS style rules** targeting that have been flashing red at me for years now because the CSS language service does not include all valid CSS properties :-(

[2021-04-23 12:55] jo005597 opened #240 "Linting Issue with GOSUB"
When using a LOCAL Subroutine the following syntax is allowed to define it:

`Local Subroutine GenerateAlert(message,includeException)`

To use the local subroutine in OpenQM one would:

`GOSUB GenerateAlert("Failure accessing client account!",@TRUE)`

The Linter in VSCODE is reporting that the Label does not exist resulting in syntax errors being reported when there are none.

[2021-04-24 17:22] willmtemple commented on #215
@octref I agree with @natevw that this isn't about generating SVG but styling it. I am using React to create interactive SVG elements and would like to use CSS to set the dominant-baseline attribute (and others that should be applied based on classes) within my application, or otherwise I would have to go through my codebase with hundreds of uses of the `<text>` tag and add the attribute to all of

[2021-04-26 00:34] jebeck commented on #215
I just ran into this today. I'm a data visualization engineer, and I hand-write SVG in the vast majority of my applications. It's very common in the data viz world. Yes, I suppose we aren't "most people," but there are a fair number of us out there. (Usually I do use React inline styles but in my current project it makes more sense to style some elements with CSS in order to have well-factored cod

[2021-04-26 17:46] natevw commented on #215
Thanks @jebeck, I didn't want to complain too much because I thought maybe I was the only odd one generating SVGs myself via Preact (or even weirder mechanisms like Django templates…).

But thinking in terms of data viz, I remembered it was [D3](https://github.com/d3/d3) that got me started doing that! So to say "most people don't hand-write SVG" — when a library with almost 100K stars and over 20

[2021-04-29 22:14] nakhleh commented on #215
+1 on this. Agree with @natevw, I am running into this because I'm using d3js, which is very mainstream and serves as a compelling counter-example to the idea that "people don't hand-write SVG".

[2021-05-31 18:47] aeschli commented on #240
I don't think that issue is related to the vscode css language service,

Please file it against the extension that provides the OpenQM  linter

[2021-05-31 18:47] #240 closed

[2021-05-31 18:59] #237 closed

[2021-05-31 19:01] aeschli commented on #232
Fixed. `@apply` is now an unknown at rule, which is ignored (unless you set the linter setting)

[2021-05-31 19:01] #232 closed

[2021-06-01 18:17] matronator commented on #156
Is there no hope for this?

[2021-06-02 05:30] ronilaukkarinen commented on #156
I have been using [CSS var Hint](https://marketplace.visualstudio.com/items?itemName=yanai101.css-var-hint) extension, it does the job.

[2021-06-16 09:57] lipanpan-hub opened #244 "[scss] 正确的语法给出错误的提示"
![image](https://user-images.githubusercontent.com/47287977/122199032-45861f00-cecc-11eb-8c25-3c3a4ef76b6f.png)

[2021-07-12 11:33] onemen opened #245 "Support latest media syntax: @media not cause validation error"
whenever I use ```@media not``` i see these 3 error:
- ```media query expectedcss(css-mediaqueryexpected)```
- ```{ expectedcss(css-lcurlyexpected)``` in rule **:**
- ```at-rule or selector expectedcss(css-ruleorselectorexpected)``` at the last inner **}**

I see these validation error both on vscode 1.58.0 and 1.59.0-insider

[code]

![media-not-error](https://user-images.githubusercontent.com/36

[2021-07-25 13:57] jasonwilliams opened #246 "CSS Language service seems to return all items for "@" on doComplete"
Im a maintainer of the VSCode Styled Components extension.
I've noticed that for our [getCompletionItems](https://github.com/microsoft/typescript-styled-plugin/blob/main/src/_language-service.ts#L231-L232) CSS Language Service seems to return all items no matter where the cursor is sitting on.

Should it not be filtering down based on what has been typed already?
Screenshot below
![image](https://

[2021-09-13 22:07] Ayc0 opened #248 "Wrong selector specificity"
When looking at the specify VSCode gives us for the selector `a:where(a)`, we can see that it shows `(0, 1, 2)` (because 2 `a` (0, 0, 1) and 1 `:where` (0, 1, 0)).

![VSCode showing a specificity of `(0, 1, 2)` for the selector `a:where(a)`](https://user-images.githubusercontent.com/22725671/133162556-8111fca2-075d-412f-b8ed-48dddafefc51.png)

But actually, `:where` doesn't add any specificity, so

[2021-09-17 20:30] m0ksem opened #249 "Show multiple elements suggestions"
[code]

![image](https://user-images.githubusercontent.com/23530004/133849494-264917e4-bc1f-4683-acd9-65bd464f3b6b.png)

For example show it as:

`<input :hover ::placeholder> or <input :focus ::placeholder>`

or

[code]

Codepen: https://codepen.io/m0ksem/pen/qBjxxzo

[2021-09-20 10:09] #236 closed

[2021-09-20 10:19] aeschli commented on #246
Filtering of proposals happens on the UI side. The editor UI can decide on various strategies such as prefix match, similarity match, camelCase match...

[2021-09-20 10:19] #246 closed

[2021-09-23 14:21] ExE-Boss opened #250 "Add support for `<relative‑selector‑list>` in the `:has(…)` pseudo‑class"
The `:has(…)` pseudo‑class, which is being prototyped in **Blink**, is specified as taking a [`<relative‑selector‑list>`](https://drafts.csswg.org/selectors/#typedef-relative-selector-list).

## See also
- **Chromium** [**Issue 669058:** CSS selectors Level 4: support :has()](https://crbug.com/669058 "Issue 669058: CSS selectors Level 4: support :has()")
- <https://github.com/Igalia/explainers/tre

[2021-10-02 01:22] #244 closed

[2021-10-05 14:31] jonaskohl opened #252 "Support for ::part() selector"
The `::part()` selector for selecting Shadow Parts is not highlighted properly (see screenshot below)

![Screenshot 2021-10-05 163051](https://user-images.githubusercontent.com/23175424/136043534-a6bb8f35-9dfa-462f-86aa-058776c17bc7.png)

* Spec: https://www.w3.org/TR/css-shadow-parts-1/
* MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/::part

[2021-10-07 09:23] #223 closed

[2021-10-07 10:33] #245 closed

[2021-10-07 10:40] aeschli commented on #235
I understand the desire, but sorry, there are no plans for that. It's too much work: Document all the node types and maintain the API over the years.

[2021-10-07 16:10] #213 closed

[2022-01-01 19:37] kiril-daskalov commented on #177
Hello guys!

This is annoying! Is it VS code problem or something else?

[2022-01-14 09:45] Semigradsky opened #258 "Support case-sensitivity attribute selector"
whenever I use case-sensitivity attribute selector i see these 3 errors:
-  `] expected (css-lbracketexpected)`
- `{ expected (css-lcurlyexpected)`
- `at-rule or selector expected (css-ruleorselectorexpected)`

vscode 1.63.2

Sample of css code:
[code]
Additional info: https://www.w3.org/TR/selectors-4/#attribute-case

![image](https://user-images.githubusercontent.com/1198848/149494614-c6de7bd4-2

[2022-01-18 13:58] Semigradsky commented on #56
@proteriax  For me (vscode 1.63.2) there are no errors.
![image](https://user-images.githubusercontent.com/1198848/149950949-04b1ee14-b256-4325-a084-b33ded040f21.png)

Also `:matches()` was renamed to `:is()` - https://caniuse.com/css-matches-pseudo

[2022-01-18 21:07] aeschli commented on #56
Thanks for reporting @Semigradsky , closing the issue then.

[2022-01-18 21:07] #56 closed

[2022-01-23 10:32] SnowLe0 opened #260 "[SCSS] [Question] Completion support for built-in SCSS/SASS modules"
Hello!
I see that [VS Code v1.41](https://code.visualstudio.com/updates/v1_41#_sass-module-support) added support for auto-completion of built-in SASS modules, such as 'sass.color', 'sass.math', etc. You can also find suggestions for these functions in the [scssCompletion.ts](https://github.com/microsoft/vscode-css-languageservice/blob/ee11fcc97db01bf3838d75972f6853c4527df5f3/src/services/scssComp

[2022-01-24 20:44] #258 closed

[2022-02-04 02:49] philipbordallo opened #261 "Allow for custom properties to imported or set outside a CSS file."
Currently if you define custom properties in a single file, like so:
[code]
You gain the ability to:
- Use them for autocompletion inside the `var` function,
- On hover get information of their value,
- On click jump to their definition.

This is great but in most circumstance people are not defining their custom properties directly inside a single file. It's more likely that custom properties are

[2022-02-10 10:03] #248 closed

[2022-02-11 17:51] romainmenke commented on #250
examples : https://github.com/web-platform-tests/wpt/blob/master/css/selectors/invalidation/has-in-adjacent-position.html

[code]

[2022-02-12 23:02] johnsoncodehk opened #265 "Provide `textEdit` in completion item"
Currently vscode-css-languageservice do not provide textEdit in completion item, scss document completion text replace range depends on wordPattern from vscode scss language configuration.

In vanilla scss document, it's working good, but if scss is embedded language in a document, vscode don't know the completion item is for scss language, so vscode don't apply replace range by scss wordPattern.

[2022-02-21 02:12] GrantGryczan opened #266 "Improper handling of `//` and `/*` in unknown at rules"
`//` should not mark a comment here:

![image](https://user-images.githubusercontent.com/14056899/154877261-b58e0445-3bba-4de8-bdb0-6c9589b017e8.png)

This compiles fine but displays an error in VS Code. Though if there were a space, for example, before the `//`, then it should mark a comment and throw an error.

Additionally, it may be worth noting that the syntax highlighting is fixed when an `@

[2022-03-18 13:21] aeschli commented on #265
If you want to work on a PR that would be great.

[2022-03-18 13:25] johnsoncodehk commented on #265
I'll survey it after finish backlog. :)

[2022-03-24 13:46] cakeseller commented on #177
@aeschli hi. Excuse me, but why this issue was closed as out-of-scope? This looks like a very handy feature.

[2022-03-24 14:13] aeschli commented on #177
Out of scope because of the work needed to implement. Also it would probably have some performance implications. Every file operation that we detect would mean to go through every CSS/SCC file to check if a import needs to be changed.
If you are interested to work on it, I'm happy to take a PR.

[2022-03-31 18:30] MrSquaare opened #269 "Sass variable interpolation broken in an unknown at rule value"
When using variable interpolation in an unknown at rule value, the sass linter reports false errors and the syntax is broken

Example:
[code]

![image](https://user-images.githubusercontent.com/28934649/161124992-eea8d8cb-7981-44ae-b2e6-fd2b0d0811dc.png)

[2022-04-22 10:27] jasonwilliams commented on #156
custom properties auto complete is already working within file, so I guess someone would need to try and see how that works, then use some global registry to put the suggestions into so that they can be picked up from any file?

This is the highest votes issue on this repo, I wonder if @aeschli is still interested in pursuing this or maybe some people can try having a go?

[2022-04-25 13:59] aeschli commented on #156
Everyone is welcome to tackle this. All css-language-service issues are assigned to me as I maintain the node module, not because I work on them.

[2022-04-25 18:37] JonathanLaurin opened #271 "Show media query when hovering css element"
When someone hovers over a selector in a CSS file it show a preview of what it selects and CSS specificity. It would be great if it included the media query whe are in as well. @ media (max-width : 767px) in the following example :

![image](https://user-images.githubusercontent.com/82820686/165152567-0b9dc0f5-6c97-4ef9-afc8-5f2ec63ce8d5.png)

[2022-04-26 10:13] jasonwilliams commented on #156
@aeschli could you offer any insight to anyone who would be attempting to fix this issue? Is there a good place to start? or anything to know about? Is hierarchy taken into account with variables or is it just a plain cache all variables go into and are retrieved from?

[2022-04-26 16:08] aeschli commented on #156
@jasonwilliams You can see [here](https://github.com/microsoft/vscode-css-languageservice/blob/adf9d4b13b5e4c891847860f3368b8f3275f2e62/src/services/cssCompletion.ts#L447) how this currently done. We suggest all referenced variables as well as all declared variable in the scope, but only in the current document. There's no following/resolving of imports or searching other files in the 'same projec

[2022-06-10 17:25] praveenpuglia opened #274 "Support for CSS @layer rule"
Currently when I try to use `@layer`, it shows this error. - `Unknown at rule`
<img width="387" alt="image" src="https://user-images.githubusercontent.com/313363/173119054-6d25d775-591f-4755-93c0-cdab6f50ed48.png">

With the browser support coming up fast for this, we should totally support it.
MDN Link - https://developer.mozilla.org/en-US/docs/Web/CSS/@layer
Spec Link - https://drafts.csswg.org/

[2022-06-10 18:10] praveenpuglia opened #275 "Unable to get local development running"
I am trying get a local setup for the language server working with vscode running from sources from latest main. I am following the **Development** guide on the readme. I am getting the following issue after `yarn link` and trying to run vscode via `yarn watch`.
[code]
More details
- System: Apple Silicon M1, Mac
- VSCode : Latest `main`
- Language Service : Latest `main`
- I have done yarn linkin

[2022-06-10 18:22] praveenpuglia commented on #275
Nevermind! Had to run `yarn watch` inside the language server repo as well to generate the necessary files. Should probably add this bit in the development section of readme. It should either be watched or built for vscode-oss to pick it up.

[2022-06-10 18:22] #275 closed

[2022-06-10 18:58] praveenpuglia commented on #269
I don't think `@apply` is a valid SCSS or CSS at-rule. It was once proposed but later abandoned for css. Can you tell me where you are getting this from?

[2022-06-11 16:59] MrSquaare commented on #269
`@apply` is an at-rule added by Tailwind CSS; it is not a standard CSS or SCSS at-rule
Today it is possible to ignore unknown at-rule via the `unknownAtRules` parameter, but the lint remains broken when using interpolation

[2022-06-20 10:35] dummdidumm opened #277 "Support for DocumentSymbol format"
`findDocumentSymbols` does return an array of `SymbolInformation`, which is [deprecated](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#symbolInformation) in favor of `DocumentSymbol` (and `WorkspaceSymbol`, but I don't think that's relevant here). It would be great if the implementation would change to using `DocumentSymbol`, or alternatively for more

[2022-06-20 15:38] Mitchman215 commented on #274
You probably should open this issue at [web-custom-data repo](https://github.com/microsoft/vscode-custom-data/tree/main/web-data) since that's where the data for CSS entities are.

From this repo's readme:

[2022-06-21 13:19] Mitchman215 commented on #274
Both the parser and the web-custom-data probably need to be updated in order to accommodate this change. From my understanding, web-custom-data is responsible for the description and documentation that displays on hover and intellisense. Then again, I don't work for this project so I could be wrong.

[2022-06-21 15:28] praveenpuglia commented on #274
The changes I made as part of the PR already takes care of the making sure the css language service knows about `@layer` and on hover it shows the description as well.

@aeschli and @octref would know better.

[2022-06-22 06:20] praveenpuglia commented on #274
Linking #276

[2022-06-22 06:37] joneff opened #278 "[scss] (dart) sass module system parsing issues"
Steps to Reproduce:

1. Write the following
[code]
2. Here be warnings warnings

Bullet 1 is probably related to, if not duplicate of, #224. I've not seen the second issue reported.

[2022-07-01 08:28] woody-li commented on #250
Safari 15.4  has supported the syntax, and Chrome 105 will support it in the near future.
Is it possibile to improve implementation priority.
Thanks

[2022-07-05 07:27] herunlei opened #280 "Please! There're any chance to publish releases rather than only tags"
Hi,

Just want to know if there are any plan to publish releases rather then the tags, thanks!

[2022-07-05 11:59] #280 closed

[2022-07-18 09:40] reyhankaplan commented on #213
Is this solved? It seems to be working in CSS but I'm having `) expectedscss(css-rparentexpected)` error in SCSS files. Thanks!

<img width="590" alt="image" src="https://user-images.githubusercontent.com/17969490/179485044-13b5ad79-d60b-40ef-9e79-66c44eda82ca.png">

[2022-07-25 08:14] csisy opened #281 "Improper double whitespace before !important"
By formatting an scss file, a whitespace is inserted before every `!important`. However, putting `!important` after a variable inserts double spaces instead of one.

For example, the following source

[code]

is formatted into

[code]

Please note the double space between the `!important` and the variable.

[2022-07-25 10:03] romainmenke opened #282 "Adding values and functions to custom data"
Adding custom values and functions to custom data would make it easier and more maintainable to have a richer editor experience for these tokens.

For PostCSS specifically it is not possible to create a general purpose language extension that covers all possible custom additions. Every user's collection of plugins is a bit different.

Plugin authors could also publish relevant custom data for thei

[2022-07-26 15:11] kutsan commented on #213
I'm having the same problem. Is there a solution @aeschli? Sorry for the ping.

[2022-08-11 20:13] stephane-klein opened #283 "PostCSS support? How can I enable LessCSS on .css file extension?"
Hi,

I have setup `vscode-css-languageservice` with Neovim ([see here](https://github.com/stephane-klein/dotfiles/blob/c9246c1b7f683a9df12451414b6d56e7c0dc16fa/dot_config/nvim/lua/plugins.lua#L131) and [here](https://github.com/stephane-klein/dotfiles/blob/c9246c1b7f683a9df12451414b6d56e7c0dc16fa/dot_config/nvim/lua/lsp.lua#L3)).

I have a `screen.css` file ([`PostCSS`](https://github.com/postcss/

[2022-08-14 15:45] wkillerud opened #284 "Link error for scoped packages that export from the root level"
Hi, and thanks for all the work on vscode and this package – much appreciated.

I maintain an extension that uses this languageservice as a foundation. A user reported a bug to me that turned out to be an issue in the way `findDocumentLinks2` handles scoped NPM packages.

In this case the user maintains an SCSS library that is published in individual packages that, simplified, look like this:

[co

[2022-08-30 09:55] mshhlvxk opened #287 "issue with having sex with your mother"
goo goo ga ga babies how about you make win11 not bullshit with more overlays atleast in the dev builds
this is bullshit ill switch back to win10 sometime

[2022-08-30 11:58] #287 closed

[2022-08-30 14:16] microsoft-github-policy-service[bot] opened #290 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-30 14:17] #290 closed

[2022-08-31 09:22] #284 closed

[2022-09-01 14:00] #277 closed

[2022-09-02 06:25] #250 closed

[2022-09-02 14:00] #274 closed

[2022-09-08 09:31] DavidSouther commented on #156
I would add to this (probably as a follow up request, but if it's added when someone picks the issue up that's awesome) an error on custom properties used in a var() that have no definition.

[2022-10-19 14:54] BenjaminAster opened #300 "Support CSS nesting"
The [CSS Nesting Module 1](https://drafts.csswg.org/css-nesting-1/) "introduces the ability to nest one style rule inside another, with the selector of the child rule relative to the selector of the parent rule. This increases the modularity and maintainability of CSS stylesheets". Chromium's ["Implement css-nesting-1" issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1095675) is the [s

[2022-10-20 14:41] johnsoncodehk commented on #156
I want to resolve this when I have time, I think it is not too difficult, but must to have some small changes for API.

[2022-11-01 09:57] DanKaplanSES commented on #278
Since this title falls under the umbrella of any scss parsing, I'd like to add my own issue:

[code]

This is valid scss, but VS code marks it as an error.

[2022-11-06 02:36] GauravB159 opened #305 "Reference issue for microsoft/vscode#165207"
Adding this reference issue for microsoft/vscode#165207 to send a pull request against.

I am mostly done with creating the `lab()` function, planning to work on `lch()` next. I can post my progress comment from the main repo issue here if required.

[2022-11-08 00:14] GauravB159 commented on #249
@aeschli Could I look into this issue? I'm a bit familiar with the CSS Language service after working on a couple PRs.

Also, if this is implemented, would the selector specificity necessarily be the same for multiple element suggestions? One might have a different specificity than the other, how would we handle that?

[2022-11-08 07:57] aeschli commented on #249
@GauravB159 Of course, that would be reat. I think each variant would need its own specificity.

Code is in https://github.com/microsoft/vscode-css-languageservice/blob/main/src/services/cssHover.ts

The `hover. Content` is an array and can contain any number of parts. Maybe that helps.

[2022-11-08 08:04] GauravB159 commented on #249
Awesome, I'll look into it, thank you! @aeschli For the specificity, would displaying them in the same order as the list of elements be enough context to understand which specificity maps to which element?

[2022-11-08 08:18] aeschli commented on #249
@GauravB159 For you to experiment. Maybe it can look like that:
[code]
If they are the same, maybe one line (at the bottom) is enough.

[2022-11-08 08:19] GauravB159 commented on #249
@aeschli Gotcha, I'll try it out, thank you.

[2022-11-08 09:45] GauravB159 commented on #249
@aeschli I'm testing out the changes for this and I noticed MarkedString is supposed to be deprecated. Does that need to be replaced with something else?

![image](https://user-images.githubusercontent.com/22005033/200531158-6f63b80d-b370-4a68-9430-3d1e40eadf55.png)

[2022-11-08 13:04] m0ksem commented on #249
Hi @GauravB159, thanks for dealing with this issue. This looks cool already.

ID should have 1.0.0 specificity according to [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity#selector_weight_categories).

:hover should add 0.1.0 to specificity. It looks like parent selector specificity doesn't count here.
So, `input.class:hover` should have 0.2.1 specificity, but it shows 0.1.0 bec

[2022-11-08 13:08] GauravB159 commented on #249
Hi @m0ksem, no worries! I'm new to open source, but really having fun contributing.

So for the specificity, I figured the values were wrong. But, there seems to be a bug in prod itself that causes the calculation to be wrong, if you check the screenshot. I'm not sure if I should address that bug in this issue, or create a separate issue for that.

Also, if you check my PR, I have added a case tha

[2022-11-08 13:12] aeschli commented on #249
Yes, let's deal with the specificity issue in a different issue. Thanks @m0ksem for bringing this to attention.

[2022-11-08 13:19] GauravB159 commented on #305
@aeschli Could you possible review this? If it's fine, I'll implement oklab() and oklch() as well in the same way, shouldn't take long.

[2022-11-08 13:21] GauravB159 commented on #300
Is anyone working on this? I'm not sure how big a change it would be, but I'd love to contribute

[2022-11-08 22:30] nilaallj commented on #300
NB: Despite the claim that the current version of the CSS Nesting Module 1 is the final one, the spec got a [new draft version published on October 28](https://drafts.csswg.org/css-nesting/). That seems to be the version Chrome Canary uses.

The main difference in the draft version is that the `@nest` rule has been dropped in favour of operators (`>`, `~` and `+`) and selector characters (`.`, `#`

[2022-11-09 07:28] GauravB159 opened #309 "[SCSS] Specificity values for nested rules are incorrect"
Discovered this issue while working on #249

![200559512-a3643c9c-e465-4dc2-aefc-9cb242d641e8](https://user-images.githubusercontent.com/22005033/200765572-c9cdd903-597f-4d07-89d4-48529a661869.png)

`input { #id { p { color: red; } } }` - Specificity (0, 0, 1)

`input #id p { color: red; }` - Specificity (1, 0, 2)

Even though they are equivalent

[2022-11-09 08:53] aeschli commented on #305
@GauravB159 I will, as soon as I find time. Sorry for the wait...

[2022-11-09 08:54] GauravB159 commented on #305
Sure, no worries. Sorry for the unnecessary ping!

[2022-11-09 16:06] #265 closed

[2022-11-10 22:25] yukulele opened #312 "support media queries level 4 range for SCSS"
Same as #213 but for SCSS

[code]
error:
[code]

[2022-11-11 17:14] GauravB159 commented on #312
The CSS Scanner picks up `<` and '=` as two separate tokens whereas the SCSS Scanner picks up `<=` as a single token, which might be causing this issue. I tried adding a separate condition for the SCSS Scanner and the error goes away, but the number after does not get highlighted anymore.  I'll link a draft pull request just in case I don't figure it out and someone can pick up from there.

[2022-11-13 07:27] GauravB159 opened #314 "Color completion only displays color squares for hex variables"
Based on issue microsoft/vscode#166197

I have been checking this out and have found a couple issues. Part of this can be fixed in [microsoft/vscode-css-languageservice](https://github.com/microsoft/vscode-css-languageservice)

![image](https://user-images.githubusercontent.com/22005033/201510834-060809bc-9bbe-419c-a245-cbe1ad6c7782.png)

File: [cssCompletion.ts](https://github.com/microsoft/vscod

[2022-11-13 10:23] andelkocvjetkovic commented on #156
Would be nice if this can work.

[2022-11-13 15:36] allan2 commented on #314
@GauravB159 do you know if your PR also helps with vscode [#166201](https://github.com/microsoft/vscode/issues/166201)?

[2022-11-13 19:05] GauravB159 commented on #314
@allan2 That's actually a separate issue. I've looked into that as well, and I'm mostly done with it. But there are a few tests failing. I might push a draft PR in a bit anyways because I'm not sure if those tests are based on correct behavior or not.

[2022-11-16 00:35] lucas-labs opened #316 "scss: ctrl+click on import from node_modules not working on nested folders"
Ctrl/cmd+Click links to `node_modules` on `imports`/`use` only works on root-level scss, but it doesn't work if the scss is on a nested folder. Consider this scenario:
[code]

[code]

[code]

A screenrecored gif to further explain what I'm talking about (this was recorded on a clean vscode instance, without any extensions installed, by runing it with the `--profile-temp` flag):

![vscode-scss-issu

[2022-11-22 13:25] #312 closed

[2022-11-23 15:11] andelkocvjetkovic opened #321 "import alias"
Hello,
I use this in my nvim lsp, but I'm having a hard time setting up this plugin to use my alias from tsconfig.json.
[code]
Although this works and compiles, autocomplete for paths is broken and does not work.
Example: